
<div class="contain text-center w3-animate-opacity">
    <div class="back text-center">
        <a class="return" routerLink="/langa_mucluc"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="picture-content">
        <div class="picture">
            <img src="assets/images/LaNga/1.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LaNga/3.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LaNga/4.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LaNga/5.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LaNga/6.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LaNga/7.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LaNga/8.jpg" alt="">
        </div>

    </div>
</div>
