
<div class="contain text-center w3-animate-opacity">
  <div class="back text-center">
      <a class="return" (click)="cancel()" style="cursor:pointer"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="picture-content">
      <div class="picture">
          <img src="assets/images/LeHoi/1.png" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/LeHoi/2.png" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/LeHoi/3.png" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/LeHoi/4.png" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/LeHoi/5.png" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/LeHoi/6.png" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/LeHoi/7.png" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/LeHoi/8.png" alt="">
      </div>

  </div>
</div>
