.first-image-content {
    position: relative;
    font-family: Arial;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: calc(100vh - 80px);

  }
  .first-image-content .img{
    margin: 0 auto;
  }
  .first-image-content img{
      width: calc(100% - 70px);
      height: calc(100vh - 100px);
      margin-left: 35px;
      border: 5px solid orange;
      border-radius: 15px;
  }
  .first-image-content h2{
      color: yellow;
      top:200px;
      left:225px;
      position:absolute;
      font-size: 6em;
  }
  .text-block-first-image{
    position: absolute;
    top: 60px;
    right: 60px;
  }
  .first-image-content .first-image-block-content {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 20px 60px 20px;
  }
