<div class="first-image-content w3-animate-opacity ">
  <h2>ĐỒNG NAI</h2>
      <img src="assets/images/vitri.JPG" >
  <div class="text-block-first-image">
      <div class="first-image-block-content">
          <h3 class="title">VỊ trí địa lí</h3>
          <h1 class="value"> Thuộc vùng Đông Nam Bộ</h1>
      </div>
      <div class="first-image-block-content">
          <h3 class="title">Diện tích</h3>
          <h1 class="value">5.862,37 km<sup>2</sup> </h1>
      </div>
      <div class="first-image-block-content">
          <h3 class="title">Dân số</h3>
          <h1 class="value"> 3,097 triệu người</h1>
      </div>
  </div>
</div>
