<div class="location w3-animate-opacity">
  <div class="content">
    <p class="location-title">ĐỒNG NAI</p>
    <div class="knowledge-content">
      <div class="knowledge">
        <p class="title">Vị trí địa lí</p>
        <p class="value">Thuộc vùng Đông Nam Bộ</p>
      </div>
      <div class="knowledge">
        <p class="title">Diện tích</p>
        <p class="value">5.903,940 km<sup>2</sup></p>
      </div>
      <div class="knowledge">
        <p class="title">Dân số</p>
        <p class="value">3,097 triệu người</p>
      </div>
    </div>
  </div>
</div>
