.first-image-content {
  position: relative;
  font-family: Arial;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.first-image-content img{
    border: 5px solid orange;
    border-radius: 15px;

}
.first-image-content h2{
    color: yellow;
    position:absolute;

}
.text-block-first-image{
  position: absolute;
}
.first-image-content .first-image-block-content {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
  color: white;
  text-align: center;

}
@media(min-width:1100px){
  .first-image-content{
    height:41vw;
  }
  .first-image-content img{
    width: calc(100% - 70px);
    height: calc(100vh - 100px);
    margin-left: 35px;
    margin:0;
    margin-top:0.5vw;
    margin-left:2vw;
  }
  .first-image-content h2{
    top:200px;
    left:225px;
    font-size: 6em;
  }
  .text-block-first-image{
    top: 50px;
    right: 60px;
  }
  .first-image-content .first-image-block-content{
    padding: 10px 20px;
    margin: 10px 20px 60px 20px;
  }
}

  @media (orientation : portrait){
    .first-image-content {

      height: 150vw;

    }
    .first-image-content img{
        width:85vw;
        height: 70vw;
        margin-top: 40vw;
        margin-left:7vw;


    }
    .first-image-content h2{

        top:60vw;
        left:20vw;
        font-size: 6vw;
    }
    .text-block-first-image{
      top: 45vw;
      right: 17vw;
    }

    .first-image-block-content h3{
      font-size: 1.8vw;
      margin:0
    }
    .first-image-block-content h1{
      font-size: 2.2vw;
    }
  }


  @media (orientation : portrait){

    @media (max-width:500px){
      .first-image-content {

        height:162vw;

      }
      .first-image-content img{
          width:85vw;
          height: 60vw;
          margin-top: 30vw;
          margin-left: 7vw;

      }
      .first-image-content h2{
          top:45vw;
          left:15vw;
          font-size: 6vw;
      }
      .text-block-first-image{
        top: 35vw;
        right: 17vw;
      }
      .first-image-block-content h3{
        font-size: 1.8vw;
        margin:0
      }
      .first-image-block-content h1{
        font-size: 2.2vw;
      }
    }

    @media (min-width: 700px) and (max-width: 1090px){
      .first-image-content {

        height:125vw;

      }
      .first-image-content img{
        margin-top: 1.5vw;
      }
      .first-image-content img{
          width:85vw;
          height: 50vw;
          margin-left: 7vw;
          margin-top:30vw;
      }
      .first-image-content h2{
          top:45vw;
          left:15vw;
          font-size: 6vw;
      }
      .text-block-first-image{
        top: 38vw;
        right: 17vw;
      }
      .first-image-block-content h3{
        font-size: 1.8vw;
        margin:0;
        padding:10px 20px;
      }
      .first-image-block-content h1{
        font-size: 2.2vw;
        padding:10px 20px;
      }
    }
  }

  @media (orientation : landscape){

  @media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .first-image-content {

      height:70vw;

    }
    .first-image-content img{
      margin-top: 1.5vw;
    }
    .first-image-content img{
        width:85vw;
        height: 50vw;
        margin-left: 7vw;
        margin-top:8vw;


    }
    .first-image-content h2{
        top:15vw;
        left:15vw;
        font-size: 6vw;
    }
    .text-block-first-image{
      top: 10vw;
      right: 13vw;
    }

    .first-image-block-content h3{
      font-size: 1.8vw;
      margin:0;
      padding:10px 20px;
    }
    .first-image-block-content h1{
      font-size: 2.2vw;
      padding:10px 20px;
    }
  }
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    .first-image-content {

      height:63vw;

    }
    .first-image-content img{
      margin-top: 1.5vw;
    }
    .first-image-content img{
        width:85vw;
        height: 50vw;
        margin-top:4vw;
        margin-left: 7vw;


    }
    .first-image-content h2{
        top:15vw;
        left:15vw;
        font-size: 6vw;
    }
    .text-block-first-image{
      top: 10vw;
      right: 15vw;
    }

    .first-image-block-content h3{
      font-size: 1.8vw;
      margin:0
    }
    .first-image-block-content h1{
      font-size: 2.2vw;
      padding:10px 20px;
    }
  }

  @media only screen
  and (min-width : 374px)
   and (max-width : 813px){
    .first-image-content {

      height:63vw;

    }
    .first-image-content img{
      margin-top: 1.5vw;
    }
    .first-image-content img{
        width:85vw;
        height: 50vw;
        margin-left: 7vw;


    }
    .first-image-content h2{
        top:15vw;
        left:15vw;
        font-size: 6vw;
    }
    .text-block-first-image{
      top: 6vw;
      right: 17vw;
    }

    .first-image-block-content h3{
      font-size: 1.8vw;
      margin:0
    }
    .first-image-block-content h1{
      font-size: 2.2vw;
    }
  }

  @media only screen
  and (min-width:375px)
  and (max-width : 750px){
    .first-image-content {

      height:63vw;

    }
    .first-image-content img{
      margin-top: 1.5vw;
    }
    .first-image-content img{
        width:85vw;
        height: 50vw;
        margin-left: 7vw;


    }
    .first-image-content h2{
        top:15vw;
        left:15vw;
        font-size: 6vw;
    }
    .text-block-first-image{
      top: 6vw;
      right: 17vw;
    }

    .first-image-block-content h3{
      font-size: 1.8vw;
      margin:0
    }
    .first-image-block-content h1{
      font-size: 2.2vw;
    }
  }
  }

