<div class="contain text-center w3-animate-opacity">
  <div class="back text-center">
    <a class="return" routerLink="/trinhhoaiduc_mucluc"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="picture-content">
    <div class="picture">
      <img src="assets/images/TrinhHoaiDuc/0.jpg" alt="">
    </div>
    <div class="picture">
      <img usemap="#picture1" src="assets/images/TrinhHoaiDuc/1.jpg" alt="">
      <map name="picture1">
        <area target="_blank" alt="" title="" href="https://www.google.com/maps/place/L%C4%83ng+c%E1%BB%A7a+Danh+nh%C3%A2n+Tr%E1%BB%8Bnh+Ho%C3%A0i+%C4%90%E1%BB%A9c/@10.9535453,106.8183817,17z/data=!3m1!4b1!4m5!3m4!1s0x3174deabb183b1c3:0x576a12d0b3fbd6d4!8m2!3d10.9535453!4d106.8205704?hl=vi-VN" coords="794,1161,884,1249" shape="rect">
    </map>
    </div>
    <div class="picture">
      <img src="assets/images/TrinhHoaiDuc/2.jpg" alt="">
    </div>
    <div class="picture">
      <img src="assets/images/TrinhHoaiDuc/3.jpg" alt="">
    </div>
    <div class="picture">
      <img src="assets/images/TrinhHoaiDuc/4.jpg" alt="">
    </div>
    <div class="picture">
      <img usemap="#picture5" src="assets/images/TrinhHoaiDuc/5.jpg" alt="">
      <map name="picture5">
        <area target="_blank" alt="" title="" href="https://vietnamnet.vn/vn/doi-song/chuyen-la/ky-bi-lang-mo-co-nam-mo-hinh-voi-phuc-giua-thanh-pho-bien-hoa-401003.html" coords="633,1279,940,1336" shape="rect">
    </map>
    </div>
  </div>
</div>
