<input type="checkbox" id="hamburger" name="hamburger" />
<label for="hamburger"></label>
<div class="menu-container">
    <div class="menu"></div>
    <div class="links">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Another</a>
    </div>
</div>
<div class="content text-center">
    <h1 class="header">TÊN NHÓM</h1>
    <div class="row" style="margin: 0 auto">
        <div class="col-sm-4">
            <p>Mục tiêu</p>
        </div>
        <div class="col-sm-4">
            <p>Nguyễn Nhân</p>
            <p>Nguyễn Nhân</p>
            <p>Nguyễn Nhân</p>
            <p>Nguyễn Nhân</p>
        </div>
        <div class="col-sm-4">
            <p>Nguyễn Nhân</p>
            <p>Nguyễn Nhân</p>
            <p>Nguyễn Nhân</p>
            <p>Nguyễn Nhân</p>
        </div>

    </div>
</div>