<div class="contain text-center w3-animate-opacity">
  <div class="back text-center">
    <a class="return" (click)="cancel()" style="cursor: pointer"
      ><i class="fas fa-arrow-left"></i
    ></a>
  </div>
  <div class="picture-content">
    <div class="picture">
      <img src="assets/images/AmThuc/1.png" alt="" />
    </div>
    <div class="picture">
      <img src="assets/images/AmThuc/2.png" alt="" />
    </div>
    <div class="picture">
      <img src="assets/images/AmThuc/3.png" alt="" />
    </div>
    <div class="picture">
      <img src="assets/images/AmThuc/4.png" alt="" />
    </div>
    <div class="picture">
      <img src="assets/images/AmThuc/5.png" alt="" />
    </div>
    <div class="picture">
      <img src="assets/images/AmThuc/6.png" alt="" />
    </div>
    <div class="picture">
      <img src="assets/images/AmThuc/7.png" alt="" />
    </div>
    <div class="picture">
      <img src="assets/images/AmThuc/8.png" alt="" />
    </div>
    <div class="picture">
      <img src="assets/images/AmThuc/9.png" alt="" />
    </div>
    <div class="picture">
      <img src="assets/images/AmThuc/10.jpg" alt="" />
    </div>
  </div>
</div>
