<div class="lich-su row w3-animate-opacity">
 <div class="col-lg-11 row" >
  <div class="col-lg-4 col1">
    <a routerLink="/lichsuhanhchinh_mucluc">
      <img  src="assets/images/hanh_chinh.jpg" alt="">
    <a  class="card1" routerLink="/lichsuhanhchinh_mucluc">
      <p >Lịch sử<br>
        hành chính</p>
      <div class="go-corner">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
    </a>
  </div>
  <div class="col-lg-4" >
   <a routerLink="/danhsachditich">
    <img  src="assets/images/di_tich_lich_su.jpg" alt="">
    <a class="card1" routerLink="/danhsachditich">
      <p>Di tích<br> lịch sử</p>
      <div class="go-corner">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
   </a>
  </div>
  <div class="col-lg-4 col2" style="height:80vh">
    <a routerLink="/danhsachtruyentranh">
      <img  src="assets/images/nguyen_huu_canh_1.jpg" alt="">
    <a  class="card1" routerLink="/danhsachtruyentranh">
      <p>Nhân vật<br> lịch sử</p>
      <div class="go-corner">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
    </a>
  </div>
 </div>
</div>
