<div class="lich-su row w3-animate-opacity">
 <div class="col-lg-11 row" style="height:83vh;margin:0 auto;padding:0;">
  <div class="col-lg-4 col1" style="padding:5px;margin:0;height:80vh">
    <img style="margin-left:15%;margin-top:10%;" src="assets/images/hanh_chinh.jpg" alt="">
    <a style="margin-left:10%;margin-top:5%;" class="card1" routerLink="/lichsuhanhchinh_mucluc">
      <p style="line-height: 30px;"><span style="line-height: 30px;">Lịch sử</span><br> <span style="line-height: 30px;">hành chính</span></p>
      <div class="go-corner">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col2" style="padding:5px;margin:0;">
    <img style="margin-top:10%;"  src="assets/images/di_tich_lich_su.jpg" alt="">
    <a style="margin-top:5%;" class="card1" routerLink="/danhsachditich">
      <p><span style="line-height: 30px;">Di tích</span><br> <span style="line-height: 30px;">Lịch sử</span></p>
      <div class="go-corner">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col2" style="padding:5px;margin:0;height:80vh">
    <img style="margin-right:15%;margin-top:10%;" src="assets/images/nguyen_huu_canh_1.jpg" alt="">
    <a style="margin-left:-5%;margin-top:5%" class="card1" routerLink="/danhsachtruyentranh">
      <p><span style="line-height: 30px;">Nhân vật</span><br> <span style="line-height: 30px;">lịch sử</span></p>
      <div class="go-corner">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
  </div>
 </div>
</div>
