<div class="introduce w3-animate-opacity">
  <div class="lichsu-container">
    <div class="item">
      <img
        src="assets/images/hanh_chinh.jpg"
        alt=""
        (click)="onClickNavigate('/lichsuhanhchinh_mucluc')"
      />
      <button (click)="onClickNavigate('/lichsuhanhchinh_mucluc')">
        Lịch sử hành chính
      </button>
    </div>
    <!-- 134 -->
    <div class="item">
      <img
        src="assets/images/di_tich_lich_su.jpg"
        alt=""
        (click)="onClickNavigate('/danhsachditich')"
      />
      <button (click)="onClickNavigate('/danhsachditich')">
        Di tích lịch sử
      </button>
    </div>
    <div class="item">
      <img
        src="assets/images/nguyen_huu_canh_1.jpg"
        alt=""
        (click)="onClickNavigate('/danhsachtruyentranh')"
      />
      <button (click)="onClickNavigate('/danhsachtruyentranh')">
        Nhân vật lịch sử
      </button>
    </div>
  </div>
</div>
