<div class="muc-luc">
  <div class="return text-center">
    <a class="" routerLink="/danhsachditich"
      ><i class="fas fa-arrow-left"></i
    ></a>
  </div>
  <div class="muc-luc-container">
    <div class="item">
      <div class="card-content" (click)="onClickNavigate('/langa_video')">
        <img src="assets/images/movie.jpg" alt="" />
        <button (click)="onClickNavigate('/langa_video')">Xem ngay</button>
      </div>
    </div>
    <div class="item">
      <div class="card-content" (click)="onClickNavigate('/langa_canva')">
        <img src="assets/images/canva.jpg" alt="" />
        <button (click)="onClickNavigate('/langa_canva')">Xem ngay</button>
      </div>
    </div>
  </div>
</div>
