<div class="lich-su w3-animate-opacity">
  <div class="return text-center">
    <a class="" routerLink="/tainguyen"><i class="fas fa-arrow-left"></i></a>
  </div>
  <h5>Các quốc gia Đông Nam Á</h5>

  <div class="col-lg-9 row">
    <div class="col-lg-4 col2">
      <a routerLink="asean" class="">
        <img src="assets/images/resource/asean.png" alt="" />
      </a>
    </div>

    <div class="col-lg-4 col2">
      <a routerLink="vietnam" class="">
        <img src="assets/images/resource/vietnam.png" alt="" />
      </a>
    </div>

    <div class="col-lg-4 col2">
      <a routerLink="lao" class="">
        <img src="assets/images/resource/lao.png" alt="" />
      </a>
    </div>
  </div>

  <div class="col-lg-9 row">
    <div class="col-lg-4 col2">
      <a routerLink="campuchia" class="">
        <img src="assets/images/resource/campuchia.png" alt="" />
      </a>
    </div>

    <div class="col-lg-4 col2">
      <a routerLink="thailan" class="">
        <img src="assets/images/resource/thailan.png" alt="" />
      </a>
    </div>

    <div class="col-lg-4 col2">
      <a routerLink="indonesia" class="">
        <img src="assets/images/resource/indonesia.png" alt="" />
      </a>
    </div>
  </div>

  <div class="col-lg-9 row">
    <div class="col-lg-4 col2">
      <a routerLink="philippines" class="">
        <img src="assets/images/resource/philippines.png" alt="" />
      </a>
    </div>

    <div class="col-lg-4 col2">
      <a routerLink="malaysia" class="">
        <img src="assets/images/resource/malaysia.png" alt="" />
      </a>
    </div>

    <div class="col-lg-4 col2">
      <a routerLink="singapore" class="">
        <img src="assets/images/resource/singapore.png" alt="" />
      </a>
    </div>
  </div>

  <div class="col-lg-9 row">
    <div class="col-lg-4 col2">
      <a routerLink="myanmar" class="">
        <img src="assets/images/resource/myanmar.png" alt="" />
      </a>
    </div>

    <div class="col-lg-4 col2">
      <a routerLink="eastleste" class="">
        <img src="assets/images/resource/eastleste.png" alt="" />
      </a>
    </div>

    <div class="col-lg-4 col2">
      <a routerLink="brunei" class="">
        <img src="assets/images/resource/brunei.png" alt="" />
      </a>
    </div>
  </div>
</div>
