<div class="container-dice">
  <div id="dice" data-side="1" (click)="rollDice()">
    <div class="sides side-1" style="background-color: red">
        <!-- <span class="dot dot-1"></span> -->
        <!-- <img style="width:100%; height:100%" src="assets/images/dan_cu_1.jpg" alt=""> -->
    </div>
    <div class="sides side-2" style="background-color: green">
        <!-- <span class="dot dot-1"></span>
        <span class="dot dot-2"></span> -->
    </div>
    <div class="sides side-3" style="background-color: yellow">
        <!-- <span class="dot dot-1"></span>
        <span class="dot dot-2"></span>
        <span class="dot dot-3"></span> -->
    </div>
    <div class="sides side-4" style="background-color: blue">
        <!-- <span class="dot dot-1"></span>
        <span class="dot dot-2"></span>
        <span class="dot dot-3"></span>
        <span class="dot dot-4"></span> -->
    </div>
    <div class="sides side-5" style="background-color: black">
        <!-- <span class="dot dot-1"></span>
        <span class="dot dot-2"></span>
        <span class="dot dot-3"></span>
        <span class="dot dot-4"></span>
        <span class="dot dot-5"></span> -->
    </div>
    <div class="sides side-6">
        <!-- <span class="dot dot-1"></span>
        <span class="dot dot-2"></span>
        <span class="dot dot-3"></span>
        <span class="dot dot-4"></span>
        <span class="dot dot-5"></span>
        <span class="dot dot-6"></span> -->
    </div>
  </div>

</div>
