<div class="container-dice">
  <div id="dice" data-side="1" (click)="rollDice()">
    <div class="sides side-1">
        <img style="width:100%; height:100%" src="assets/dice/1.png" alt="">
    </div>
    <div class="sides side-2">
      <img style="width:100%; height:100%" src="assets/dice/2.png" alt="">

    </div>
    <div class="sides side-3">
      <img style="width:100%; height:100%" src="assets/dice/3.png" alt="">
    </div>
    <div class="sides side-4">
      <img style="width:100%; height:100%" src="assets/dice/4.png" alt="">
    </div>
    <div class="sides side-5">
      <img style="width:100%; height:100%" src="assets/dice/5.png" alt="">
    </div>
    <div class="sides side-6">
      <img style="width:100%; height:100%" src="assets/dice/6.png" alt="">
    </div>
  </div>

</div>
