<div class="muc-luc">
  <div class="return text-center">
    <a class="" routerLink="/danhsachditich"
      ><i class="fas fa-arrow-left"></i
    ></a>
  </div>
  <div class="muc-luc-container">
    <div class="item">
      <div
        class="card-content"
        (click)="onClickNavigate('/nguyenhuucanh_video')"
      >
        <img src="assets/images/movie.jpg" alt="" />
        <button (click)="onClickNavigate('/nguyenhuucanh_video')">
          Xem ngay
        </button>
      </div>
    </div>
    <div class="item">
      <div
        class="card-content"
        (click)="onClickNavigate('/nguyenhuucanh_canva')"
      >
        <img src="assets/images/truyentranh.jpg" alt="" />
        <button (click)="onClickNavigate('/nguyenhuucanh_canva')">
          Xem ngay
        </button>
      </div>
    </div>

    <div class="item">
      <div
        class="card-content"
        (click)="onClickNavigate('/nguyenhuucanh_comic')"
      >
        <img src="assets/images/canva.jpg" alt="" />
        <button (click)="onClickNavigate('/nguyenhuucanh_comic')">
          Xem ngay
        </button>
      </div>
    </div>
  </div>
</div>
