.con-nguoi {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto;
  transition-duration: 1s;
  background: #ffcc29;
  height: 100svh;
}

.sach-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card-book {
  width: 20%;
}

.image {
  height: 57vh;
  position: relative;
  margin: 20px;
  border-radius: 5px;
  margin-top: 5vw;
  margin-bottom: 8vw;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
}
.card-book:hover img {
  filter: brightness(50%);
}
.card-book:hover .card-button {
  display: block;
  border: 2px solid #0082c8;
}

.card-button {
  padding: 15px 30px;
  border-radius: 50px;
  background: #1f75c4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 15px;
  transition: background 0.5s;
  background: linear-gradient(to left, #0082c8 50%, white 50%) right;
  background-size: 200%;
  position: absolute;
  left: 47%;
  margin-left: -47px;
  top: 50%;
  margin-top: -50px;
  display: none;
}

.card-book:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.card-button:hover {
  background-position: left;
  color: #0082c8;
}
.back {
  position: relative;
  margin: 0;
  font-size: 40px;
  top: 60px;
  width: 100px;
  left: 40px;
}
.back a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
.back a i {
  width: 50px;
}
.back a:hover {
  border: 5px solid white;
  border-radius: 20px;
}

@media (max-width: 770px) {
  .card-book {
    width: 30%;
  }
}

@media (max-width: 450px) {
  .sach-container {
    flex-direction: column;
  }

  .card-book {
    width: 45%;
  }

  .image {
    height: 35svh;
  }
}
