<link
  href="https://fonts.googleapis.com/css?family=Lovers+Quarrel"
  rel="stylesheet"
/>
<div class="con-nguoi w3-animate-opacity">
  <div class="back text-center">
    <a class="return" routerLink="/tainguyen"
      ><i class="fas fa-arrow-left"></i
    ></a>
  </div>
  <div class="sach-container">
    <div class="card-book">
      <div class="image">
        <img src="assets/images/SachLichSu/1.jpg" />
      </div>
      <a routerLink="/sachlichsu"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>
    <div class="card-book">
      <div class="image">
        <img src="assets/images/SachDiali/1.jpg" />
      </div>
      <a routerLink="/sachdiali"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>
  </div>
</div>
