<div class="contain text-center w3-animate-opacity">
  <div class="back text-center">
    <a class="return" routerLink="/nguyenhuucanh_mucluc"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="picture-content">
    <div class="picture">
      <img src="assets/images/NguyenHuuCanh/0.jpg" alt="">
    </div>
    <div class="picture">
      <img src="assets/images/NguyenHuuCanh/1.jpg" alt="">
    </div>
    <div class="picture">
      <img src="assets/images/NguyenHuuCanh/2.jpg" alt="">
    </div>
    <div class="picture">
      <img src="assets/images/NguyenHuuCanh/3.jpg" alt="">
    </div>

  </div>
</div>
