<div class="contain">
  <div class="return text-center">
    <a class="" routerLink="/sachdientu"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="book">
    <input type="checkbox" id="c1">
    <input type="checkbox" id="c2">
    <input type="checkbox" id="c3">
    <input type="checkbox" id="c4">
    <input type="checkbox" id="c5">
    <input type="checkbox" id="c6">
    <input type="checkbox" id="c7">
    <input type="checkbox" id="c8">
    <input type="checkbox" id="c9">
    <input type="checkbox" id="c10">
    <input type="checkbox" id="c11">
    <input type="checkbox" id="c12">
    <input type="checkbox" id="c13">
    <input type="checkbox" id="c14">
    <input type="checkbox" id="c15">
    <input type="checkbox" id="c16">
    <input type="checkbox" id="c17">
    <input type="checkbox" id="c18">
    <input type="checkbox" id="c19">
    <input type="checkbox" id="c20">
    <input type="checkbox" id="c21">
    <input type="checkbox" id="c22">
    <input type="checkbox" id="c23">
    <input type="checkbox" id="c24">
    <input type="checkbox" id="c25">
    <input type="checkbox" id="c26">
    <input type="checkbox" id="c27">
    <div class="flip-book">

      <div class="flip" id="p1">
        <div class="front">
          <img src="assets/images/SachDiali/1.jpg">
          <label class="next-btn" for="c1"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/2.jpg">
          <label class="back-btn" for="c1"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>

      <div class="flip" id="p2">
        <div class="back">
          <img src="assets/images/SachDiali/4.jpg">
          <label class="back-btn" for="c2"><i class="fas fa-angle-left"></i></label>
        </div>
        <div class="front">

          <img src="assets/images/SachDiali/3.jpg">
          <label class="next-btn" for="c2"><i class="fas fa-angle-right"></i></label>
        </div>

      </div>

      <div class="flip" id="p3">
        <div class="back">
          <img src="assets/images/SachDiali/6.jpg">
          <label class="back-btn" for="c3"><i class="fas fa-angle-left"></i></label>
        </div>
        <div class="front">
          <img src="assets/images/SachDiali/5.jpg">
          <label class="next-btn" for="c3"><i class="fas fa-angle-right"></i></label>
        </div>

      </div>

      <div class="flip" id="p4">
        <div class="back">
          <img src="assets/images/SachDiali/8.jpg">
          <label class="back-btn" for="c4"><i class="fas fa-angle-left"></i></label>
        </div>
        <div class="front">
          <img src="assets/images/SachDiali/7.jpg">
          <label class="next-btn" for="c4"><i class="fas fa-angle-right"></i></label>
        </div>

      </div>

      <div class="flip" id="p5">
        <div class="back">
          <img src="assets/images/SachDiali/10.jpg">
          <label class="back-btn" for="c5"><i class="fas fa-angle-left"></i></label>
        </div>
        <div class="front">

          <img src="assets/images/SachDiali/9.jpg">
          <label class="next-btn" for="c5"><i class="fas fa-angle-right"></i></label>
        </div>

      </div>

      <div class="flip" id="p6">
        <div class="front">
          <img src="assets/images/SachDiali/11.jpg">
          <label class="next-btn" for="c6"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/12.jpg">
          <label class="back-btn" for="c6"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p7">
        <div class="front">
          <img src="assets/images/SachDiali/13.jpg">
          <label class="next-btn" for="c7"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/14.jpg">
          <label class="back-btn" for="c7"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>

      <div class="flip" id="p8">
        <div class="front">
          <img src="assets/images/SachDiali/15.jpg">
          <label class="next-btn" for="c8"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/16.jpg">
          <label class="back-btn" for="c8"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>

      <div class="flip" id="p9">
        <div class="front">
          <img src="assets/images/SachDiali/17.jpg">
          <label class="next-btn" for="c9"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/18.jpg">
          <label class="back-btn" for="c9"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p10">
        <div class="front">
          <img src="assets/images/SachDiali/19.jpg">
          <label class="next-btn" for="c10"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/22.jpg">
          <label class="back-btn" for="c10"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>

      <div class="flip" id="p11">
        <div class="front">
          <img src="assets/images/SachDiali/23.jpg">
          <label class="next-btn" for="c11"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/24.jpg">
          <label class="back-btn" for="c11"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p12">
        <div class="front">
          <img src="assets/images/SachDiali/25.jpg">
          <label class="next-btn" for="c12"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/26.jpg">
          <label class="back-btn" for="c12"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>

      <div class="flip" id="p13">
        <div class="front">
          <img src="assets/images/SachDiali/27.jpg">
          <label class="next-btn" for="c13"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/28.jpg">
          <label class="back-btn" for="c13"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p14">
        <div class="front">
          <img src="assets/images/SachDiali/29.jpg">
          <label class="next-btn" for="c14"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/30.jpg">
          <label class="back-btn" for="c14"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p15">
        <div class="front">
          <img src="assets/images/SachDiali/31.jpg">
          <label class="next-btn" for="c15"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/32.jpg">
          <label class="back-btn" for="c15"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p16">
        <div class="front">
          <img src="assets/images/SachDiali/33.jpg">
          <label class="next-btn" for="c16"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/34.jpg">
          <label class="back-btn" for="c16"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p17">
        <div class="front">
          <img src="assets/images/SachDiali/35.jpg">
          <label class="next-btn" for="c17"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/36.jpg">
          <label class="back-btn" for="c17"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p18">
        <div class="front">
          <img src="assets/images/SachDiali/37.jpg">
          <label class="next-btn" for="c18"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/38.jpg">
          <label class="back-btn" for="c18"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p19">
        <div class="front">
          <img src="assets/images/SachDiali/39.jpg">
          <label class="next-btn" for="c19"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/40.jpg">
          <label class="back-btn" for="c19"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p20">
        <div class="front">
          <img src="assets/images/SachDiali/41.jpg">
          <label class="next-btn" for="c20"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/42.jpg">
          <label class="back-btn" for="c20"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p21">
        <div class="front">
          <img src="assets/images/SachDiali/43.jpg">
          <label class="next-btn" for="c21"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/44.jpg">
          <label class="back-btn" for="c21"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p22">
        <div class="front">
          <img src="assets/images/SachDiali/45.jpg">
          <label class="next-btn" for="c22"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/46.jpg">
          <label class="back-btn" for="c22"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p23">
        <div class="front">
          <img src="assets/images/SachDiali/47.jpg">
          <label class="next-btn" for="c23"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/48.jpg">
          <label class="back-btn" for="c23"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p24">
        <div class="front">
          <img src="assets/images/SachDiali/49.jpg">
          <label class="next-btn" for="c24"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/50.jpg">
          <label class="back-btn" for="c24"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p25">
        <div class="front">
          <img src="assets/images/SachDiali/51.jpg">
          <label class="next-btn" for="c25"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/SachDiali/52.jpg">
          <label class="back-btn" for="c25"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>
      <div class="flip" id="p26">
        <div class="front">
          <img src="assets/images/SachDiali/53.jpg">
          <label class="next-btn" for="c26"><i class="fas fa-angle-right"></i></label>
        </div>
        <div class="back">
          <img src="assets/images/the_end.png" style="border:2px solid black">
          <label class="back-btn" for="c26"><i class="fas fa-angle-left"></i></label>
        </div>

      </div>


    </div>
  </div>
</div>
