<div class="card" style="background-color: #03A66A;">
  <div class="card-body">
    <form [formGroup]="answerForm" style="margin:0 auto;width:60%">
      <h1>Huyện Tân Phú</h1>
      <div class="form-group ">
        <h2>Câu 1) Huyện Tân Phú nằm ở phía nào của tỉnh Đồng Nai? </h2>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau1 == 'A'; else condition2">
          <input class="col-sm-1" type="radio" name="cau1" formControlName="cau1" value="A">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau1">Phía đông nam</label>

        </div>
        <ng-template #condition2>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau1" formControlName="cau1" value="A">
            <label class="col-sm-11" for="cau1">Phía đông nam</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau1 == 'B'; else condition1">
          <input class="col-sm-1" type="radio" name="cau1" formControlName="cau1" value="B">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau1">Phía tây nam</label>

        </div>
        <ng-template #condition1>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau1" formControlName="cau1" value="B">
            <label class="col-sm-11" for="cau1">Phía tây nam</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit; else answer1">
          <input class="col-sm-1" type="radio" name="cau1" formControlName="cau1" value="C">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau1">Phía đông bắc</label>
        </div>
        <ng-template #answer1 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau1" formControlName="cau1" value="C">
            <label class="col-sm-11" for="cau1">Phía đông bắc</label>
          </div>
        </ng-template>
      </div>

      <div class="form-group justify-content-center">
        <h2>Câu 2) Huyện Tân Phú tiếp giáp những tỉnh nào?</h2>
        <div class="row" *ngIf="isSubmit  && answerForm.value.cau2 == 'A'; else condition4">
          <input class="col-sm-1" type="radio" name="cau2" formControlName="cau2" value="A">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau1">
            Tỉnh Bình Thuận, Bình Dương, Bình Phước.</label>

        </div>
        <ng-template #condition4>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau2" formControlName="cau2" value="A">
            <label class="col-sm-11" for="cau1">Tỉnh Bình Thuận, Bình Dương, Bình Phước.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau2 == 'B'; else condition3">
          <input class="col-sm-1" type="radio" name="cau2" formControlName="cau2" value="B">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau2">
            Tỉnh Bình Thuận, Bình Phước, Tây Ninh.</label>

        </div>
        <ng-template #condition3>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau2" formControlName="cau2" value="B">
            <label class="col-sm-11" for="cau1">Tỉnh Bình Thuận, Bình Phước, Tây Ninh.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit else answer2">
          <input class="col-sm-1" type="radio" name="cau2" formControlName="cau2" value="C">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau2">
            Tỉnh Bình Thuận, Bình Phước, Lâm Đồng.</label>
        </div>
        <ng-template #answer2 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau2" formControlName="cau2" value="C">
            <label class="col-sm-11" for="cau2">Tỉnh Bình Thuận, Bình Phước, Lâm Đồng.</label>
          </div>
        </ng-template>
      </div>

      <div class="form-group ">
        <h2>Câu 3) Huyện nào giáp với Tân Phú ở phía tây và tây nam? </h2>
        <div class="row" *ngIf="isSubmit  else answer3">
          <input class="col-sm-1" type="radio" name="cau3" formControlName="cau3" value="A">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau3">
            Định Quán, Vĩnh Cửu.</label>

        </div>
        <ng-template #answer3>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau3" formControlName="cau3" value="A">
            <label class="col-sm-11" for="cau3"> Định Quán, Vĩnh Cửu.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau3 == 'B'; else condition6">
          <input class="col-sm-1" type="radio" name="cau3" formControlName="cau3" value="B">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau3">Định Quán, Nhơn Trạch.</label>

        </div>
        <ng-template #condition6>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau3" formControlName="cau3" value="B">
            <label class="col-sm-11" for="cau3">Định Quán, Nhơn Trạch.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau3 == 'C'; else condition5">
          <input class="col-sm-1" type="radio" name="cau3" formControlName="cau3" value="C">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau3">Trảng Bom, Xuân Lộc.</label>
        </div>
        <ng-template #condition5 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau3" formControlName="cau3" value="C">
            <label class="col-sm-11" for="cau3">Trảng Bom, Xuân Lộc.</label>
          </div>
        </ng-template>
      </div>

      <div class="form-group ">
        <h2>Câu 4) Huyện Tân Phú là địa bàn chuyển tiếp giữa Đồng Nai với các tỉnh nào?</h2>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau4 == 'A'; else condition7">
          <input class="col-sm-1" type="radio" name="cau4" formControlName="cau4" value="A">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau4">Tây Bắc.</label>

        </div>
        <ng-template #condition7>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau4" formControlName="cau4" value="A">
            <label class="col-sm-11" for="cau4">Tây Bắc.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau4 == 'B'; else condition8">
          <input class="col-sm-1" type="radio" name="cau4" formControlName="cau4" value="B">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau4">Tây Ninh.</label>

        </div>
        <ng-template #condition8>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau4" formControlName="cau4" value="B">
            <label class="col-sm-11" for="cau4">Tây Ninh.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit  else answer4">
          <input class="col-sm-1" type="radio" name="cau4" formControlName="cau4" value="C">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau4">Tây Nguyên.</label>
        </div>
        <ng-template #answer4 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau4" formControlName="cau4" value="C">
            <label class="col-sm-11" for="cau4">Tây Nguyên.</label>
          </div>
        </ng-template>
      </div>

      <div class="form-group ">
        <h2>Câu 5) Huyện Tân Phú giáp tỉnh Lâm Đồng ở phía nào?</h2>
        <div class="row" *ngIf="isSubmit  else answer5">
          <input class="col-sm-1" type="radio" name="cau5" formControlName="cau5" value="A">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau5">
            Đông bắc.</label>

        </div>
        <ng-template #answer5>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau5" formControlName="cau5" value="A">
            <label class="col-sm-11" for="cau5">Đông bắc </label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau5 == 'B'; else condition10">
          <input class="col-sm-1" type="radio" name="cau5" formControlName="cau5" value="B">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau5">
            Đông nam. </label>

        </div>
        <ng-template #condition10>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau5" formControlName="cau5" value="B">
            <label class="col-sm-11" for="cau5">Đông nam. </label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau5 == 'C'; else condition9">
          <input class="col-sm-1" type="radio" name="cau5" formControlName="cau5" value="C">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau5">
            Tây nam.</label>
        </div>
        <ng-template #condition9 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau5" formControlName="cau5" value="C">
            <label class="col-sm-11" for="cau5">Tây nam.</label>
          </div>
        </ng-template>
      </div>

      <div class="form-group ">
        <h2>Câu 6) Diện tích của huyện Tân Phú là:</h2>
        <div class="row" *ngIf="isSubmit  else answer6">
          <input class="col-sm-1" type="radio" name="cau6" formControlName="cau6" value="A">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau6">776,93 km<sup>2</sup>. </label>

        </div>
        <ng-template #answer6>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau6" formControlName="cau6" value="A">
            <label class="col-sm-11" for="cau6">776,93 km<sup>2</sup>.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau6 == 'B'; else condition11">
          <input class="col-sm-1" type="radio" name="cau6" formControlName="cau6" value="B">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau6">
            108,6 km<sup>2</sup> .</label>

        </div>
        <ng-template #condition11>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau6" formControlName="cau6" value="B">
            <label class="col-sm-11" for="cau6">108,6 km<sup>2</sup> .</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau6 == 'C';  else condition12">
          <input class="col-sm-1" type="radio" name="cau6" formControlName="cau6" value="C">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau6">
            802,13 km<sup>2</sup> .</label>
        </div>
        <ng-template #condition12 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau6" formControlName="cau6" value="C">
            <label class="col-sm-11" for="cau6">802,13 km<sup>2</sup> .</label>
          </div>
        </ng-template>
      </div>

      <div class="form-group ">
        <h2>Câu 7) “Huyện Tân Phú là …….. phía đông bắc của tỉnh Đồng Nai,
          địa bàn chuyển tiếp giữa Đồng Nai với các tỉnh Tây Nguyên.” <br>
          Từ thích hợp cần điền vào chỗ chấm trong câu trên là:
        </h2>
        <div class="row" *ngIf="isSubmit else answer7">
          <input class="col-sm-1" type="radio" name="cau7" formControlName="cau7" value="A">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau7">cửa ngõ.</label>

        </div>
        <ng-template #answer7>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau7" formControlName="cau7" value="A">
            <label class="col-sm-11" for="cau7">cửa ngõ.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau7 == 'B'; else condition14">
          <input class="col-sm-1" type="radio" name="cau7" formControlName="cau7" value="B">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau7">cửa sổ.</label>

        </div>
        <ng-template #condition14>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau7" formControlName="cau7" value="B">
            <label class="col-sm-11" for="cau7">cửa sổ</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit  && answerForm.value.cau7 == 'C'; else condition13">
          <input class="col-sm-1" type="radio" name="cau7" formControlName="cau7" value="C">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau7">cửa biển.</label>
        </div>
        <ng-template #condition13 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau7" formControlName="cau7" value="C">
            <label class="col-sm-11" for="cau7">cửa biển .</label>
          </div>
        </ng-template>
      </div>

      <div class="form-group ">
        <h2>Câu 8) Tân Phú là huyện có diện tích và sản lượng cây
          lương thực lớn thứ mấy của tỉnh Đồng Nai? </h2>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau8 == 'A'; else condition15">
          <input class="col-sm-1" type="radio" name="cau8" formControlName="cau8" value="A">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau8">Thứ nhất.</label>

        </div>
        <ng-template #condition15>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau8" formControlName="cau8" value="A">
            <label class="col-sm-11" for="cau8">Thứ nhất.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit  else answer8">
          <input class="col-sm-1" type="radio" name="cau8" formControlName="cau8" value="B">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau8">Thứ hai.</label>

        </div>
        <ng-template #answer8>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau8" formControlName="cau8" value="B">
            <label class="col-sm-11" for="cau8">Thứ hai.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau8 == 'C';  else condition16">
          <input class="col-sm-1" type="radio" name="cau8" formControlName="cau8" value="C">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau8">Thứ ba.</label>
        </div>
        <ng-template #condition16 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau8" formControlName="cau8" value="C">
            <label class="col-sm-11" for="cau8">Thứ ba.</label>
          </div>
        </ng-template>
      </div>

      <div class="form-group ">
        <h2>Câu 9) Năm 2013, huyện Tân Phú đứng đầu tỉnh Đồng Nai về:</h2>
        <div class="row" *ngIf="isSubmit else answer9">
          <input class="col-sm-1" type="radio" name="cau9" formControlName="cau9" value="A">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau9">
            Sản lượng hồ tiêu.</label>

        </div>
        <ng-template #answer9>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau9" formControlName="cau9" value="A">
            <label class="col-sm-11" for="cau9"> Sản lượng hồ tiêu.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau9 == 'B'; else condition18">
          <input class="col-sm-1" type="radio" name="cau9" formControlName="cau9" value="B">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau9">
            Sản lượng điều.</label>

        </div>
        <ng-template #condition18>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau9" formControlName="cau9" value="B">
            <label class="col-sm-11" for="cau9"> Sản lượng điều.</label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit  && answerForm.value.cau9 == 'C'; else condition17">
          <input class="col-sm-1" type="radio" name="cau9" formControlName="cau9" value="C">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau4">
            Sản lượng lúa.</label>
        </div>
        <ng-template #condition17 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau9" formControlName="cau9" value="C">
            <label class="col-sm-11" for="cau9">
              Sản lượng lúa.</label>
          </div>
        </ng-template>
      </div>

      <div class="form-group " style="padding:0 20px 20px 20px;">
        <h2>Câu 10) Trong nông nghiệp, huyện Tân Phú có điều kiện tự nhiên
          thuận lợi để phát triển những loại cây trồng nào? </h2>
        <div class="row" *ngIf="isSubmit  else answer10">
          <input class="col-sm-1" type="radio" name="cau10" formControlName="cau10" value="A">
          <label class="col-sm-11" style="color:#0000e6;font-weight:bold  " for="cau10">
            Các cây lương thực, thực phẩm, cây ăn trái và cây công nghiệp lâu năm.
          </label>

        </div>
        <ng-template #answer10>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau10" formControlName="cau10" value="A">
            <label class="col-sm-11" for="cau10">
              Các cây lương thực, thực phẩm, cây ăn trái và cây công nghiệp lâu năm.
            </label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau10 == 'B'; else condition19">
          <input class="col-sm-1" type="radio" name="cau10" formControlName="cau10" value="B">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau10">
            Các cây lương thực, thực phẩm và cây ăn trái.
          </label>

        </div>
        <ng-template #condition19>
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau10" formControlName="cau10" value="B">
            <label class="col-sm-11" for="cau10">
              Các cây lương thực, thực phẩm và cây ăn trái.
            </label>
          </div>
        </ng-template>
        <div class="row" *ngIf="isSubmit && answerForm.value.cau10 == 'C';  else condition20">
          <input class="col-sm-1" type="radio" name="cau10" formControlName="cau10" value="C">
          <label class="col-sm-11" style="color:red;font-weight:bold  " for="cau10">
            Cây công nghiệp lâu năm và cây hoa màu.
          </label>
        </div>
        <ng-template #condition20 [disabled]="true">
          <div class="row">
            <input class="col-sm-1" type="radio" name="cau10" formControlName="cau10" value="C">
            <label class="col-sm-11" for="cau10">
              Cây công nghiệp lâu năm và cây hoa màu.
            </label>

          </div>
        </ng-template>
      </div>

      <div class="form-group row " style="margin-bottom:5vw;">
        <div class="col-md-3 justify-content-left text-center" style="padding-left:0">
          <button type="submit" class="btn btn-primary">
            <a routerLink="/bando" style="color:white;text-decoration: none;cursor: pointer;" (click)="cancel()">
              Trở về
            </a>
          </button>
        </div>
        <div class="col-md-6 text-center">
          <div *ngIf="!isSubmit else result" style="padding:0;margin:0 auto">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">
              Nộp bài
            </button>
            <!-- <button type="submit" class="btn btn-primary"
                     >Nộp bài
                  </button> -->
          </div>
          <ng-template #result>
            <div style="padding:0">
              <h2>Số câu đúng là: &nbsp; <span style="color:#0000e6">{{point}}</span>/<span style="color:red">10</span>
              </h2>
              <h2>Số điểm của bạn là: &nbsp;<span style="color:#0000e6">{{point}}</span></h2>

            </div>
          </ng-template>
        </div>
        <div class="col-md-3 text-center">
          <button type="submit" class="btn btn-primary">
            <a routerLink="/danhsachcauhoi" style="color:white;text-decoration: none;">
              Câu hỏi
            </a>
          </button>
        </div>
      </div>


    </form>


  </div>
</div>
