
<div class="contain text-center w3-animate-opacity">
  <div class="back text-center">
      <a class="return" (click)="cancel()" style="cursor:pointer"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="picture-content">
      <div class="picture">
          <img src="assets/images/VanHoa/1.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/VanHoa/2.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/VanHoa/3.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/VanHoa/4.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/VanHoa/5.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/VanHoa/6.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/VanHoa/7.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/VanHoa/8.jpg" alt="">
      </div>

  </div>
</div>
