<div class="contain text-center">
  <div class="back ">
      <a class="return" routerLink="/nguyenhuucanh_mucluc"><i class="fas fa-arrow-left"></i></a>
  </div>

  <div class="video " style="margin-top:0">
          <h5>
            Nguyễn Hữu Cảnh
            </h5>
            <iframe src="https://www.youtube.com/embed/P5SxQLZZxU0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
            picture-in-picture" allowfullscreen></iframe>

  </div>


</div>
