<div class="contain text-center w3-animate-opacity">
  <div class="back text-center">
      <a class="return" routerLink="/chuadaigiac_mucluc"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="picture-content">
    <div class="picture">
        <img src="assets/images/ChuaDaiGiac/1.jpg" alt="">
    </div>
    <div class="picture ">
        <img usemap="#picture2" src="assets/images/ChuaDaiGiac/2.jpg" alt="">

        <map name="picture2">
            <area target="_blank" alt="" title="" href="https://www.google.com/maps/place/%C4%90%E1%BA%A1i+Gi%C3%A1c+C%E1%BB%95+T%E1%BB%B1/@10.9326833,106.8254637,17z/data=!4m5!3m4!1s0x3174dec844d98869:0xec35762a1cf438d!8m2!3d10.9328594!4d106.8275594?hl=vi-VN" coords="800,110,905,243" shape="rect">
        </map>
    </div>
    <div class="picture ">
        <img src="assets/images/ChuaDaiGiac/3.jpg" alt="">

    </div>
    <div class="picture">
        <img usemap="#picture4" src="assets/images/ChuaDaiGiac/4.jpg" alt="">

        <map name="picture4">
            <area target="_blank" alt="" title="" href="https://www.google.com/maps/@10.9330139,106.8274612,3a,75y,90h,90t/data=!3m8!1e1!3m6!1sAF1QipNcky3DMOQIOMb7WS4MGypWIc5BkPeYKY1Gq8up!2e10!3e11!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipNcky3DMOQIOMb7WS4MGypWIc5BkPeYKY1Gq8up%3Dw203-h100-k-no-pi-0-ya0-ro-0-fo100!7i7200!8i3600?hl=vi-VN" coords="50,1153,350,1189" shape="rect">
        </map>
    </div>
    <div class="picture" id="picture">
        <img usemap="#picture5" src="assets/images/ChuaDaiGiac/5.jpg" alt="">

        <map name="picture5">
            <area target="_blank" alt="" title="" href="https://www.google.com/maps/@10.9326143,106.8276317,3a,75y,90h,100t/data=!3m8!1e1!3m6!1sAF1QipNOrqmn2v6RNB_oSs43h---LMbdnwCDdCCKszwl!2e10!3e11!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipNOrqmn2v6RNB_oSs43h---LMbdnwCDdCCKszwl%3Dw203-h100-k-no-pi-10-ya220-ro0-fo100!7i4800!8i2400?hl=vi-VN&shorturl=1" coords="226,711,450,747" shape="rect">
        </map>
    </div>
    <div class="picture ">
        <img src="assets/images/ChuaDaiGiac/6.jpg" alt="">

    </div>
</div>
