<div class="contain text-center">
  <div class="back">
    <a class="return" routerLink="/trinhhoaiduc_mucluc"
      ><i class="fas fa-arrow-left"></i
    ></a>
  </div>

  <div class="video">
    <h5>Trịnh Hoài Đức</h5>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/MgXflsTmQGQ"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/4IJcabca-iw"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
