<div class="contain text-center">
    <div class="back ">
        <a class="return" routerLink="/langa_mucluc"><i class="fas fa-arrow-left"></i></a>
    </div>

    <div class="video " style="margin-top:0">
            <h5 >
              Địa điểm chiến thắng La Ngà
              </h5>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Z513jNxbUnc"
              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


</div>
