<div class="lich-su">
  <div class="back text-center">
    <a class="return" routerLink="/danhsachditich"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="card-container col-md-11 row" style="margin:0 auto">
    <div class="col-md-4">
      <div class="card-content">
        <div  class="image">
          <img  src="assets/images/movie.jpg" alt="">
          <a  routerLink="/trinhhoaiduc_video"><button
              class="card-button">Xem ngay</button></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-content">
        <div  class="image">
          <img  src="assets/images/canva.jpg" alt="">
          <a  routerLink="/trinhhoaiduc_canva"><button
              class="card-button">Xem ngay</button></a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-content">
        <div class="image">
          <img  src="assets/images/truyentranh.jpg" alt="">
          <a routerLink="/trinhhoaiduc_comic"><button
              class="card-button">Xem ngay</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
