<div class="card" style="background-color: #03A66A;">
    <div class="card-body">
        <form [formGroup]="answerForm" style="margin:0 auto;width:60%">
            <h1>Huyện Xuân Lộc</h1>
            <div class="form-group ">
                <h2>
                    Câu 1) Diện tích của huyện Xuân Lộc là bao nhiêu ki-lô-mét vuông ?
                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau1 == 'A'; else condition1">
                    <input type="radio" name="cau1" formControlName="cau1" value="A">
                    <label style="color:red;font-weight:bold  " for="cau1">
                        72,720 ki-lô-mét vuông
                    </label>

                </div>
                <ng-template #condition1>
                    <div>
                        <input type="radio" name="cau1" formControlName="cau1" value="A">
                        <label for="cau1">
                            72,720 ki-lô-mét vuông
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit else answer1">
                    <input type="radio" name="cau1" formControlName="cau1" value="B">
                    <label style="color:#0000e6;font-weight:bold  " for="cau1">
                        727,20 ki-lô-mét vuông
                    </label>

                </div>
                <ng-template #answer1>
                    <div>
                        <input type="radio" name="cau1" formControlName="cau1" value="B">
                        <label for="cau1">
                            727,20 ki-lô-mét vuông
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  && answerForm.value.cau1 == 'C'; else condition2">
                    <input type="radio" name="cau1" formControlName="cau1" value="C">
                    <label style="color:red;font-weight:bold  " for="cau1">
                        7,2720 ki-lô-mét vuông
                    </label>
                </div>
                <ng-template #condition2 [disabled]="true">
                    <div>
                        <input type="radio" name="cau1" formControlName="cau1" value="C">
                        <label for="cau1">
                            7,2720 ki-lô-mét vuông
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group justify-content-center">
                <h2>
                    Câu 2) Huyện Xuân Lộc tiếp giáp tỉnh Bà Rịa – Vũng Tàu ở phía nào?
                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau2 == 'A'; else condition3">
                    <input type="radio" name="cau2" formControlName="cau2" value="A">
                    <label style="color:red;font-weight:bold  " for="cau1">
                        Phía bắc.
                    </label>

                </div>
                <ng-template #condition3>
                    <div>
                        <input type="radio" name="cau2" formControlName="cau2" value="A">
                        <label for="cau1">
                            Phía bắc.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer2">
                    <input type="radio" name="cau2" formControlName="cau2" value="B">
                    <label style="color:#0000e6;font-weight:bold  " for="cau2">
                        Phía nam.
                    </label>

                </div>
                <ng-template #answer2>
                    <div>
                        <input type="radio" name="cau2" formControlName="cau2" value="B">
                        <label for="cau1">
                            Phía nam.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau2 == 'C'; else condition4">
                    <input type="radio" name="cau2" formControlName="cau2" value="C">
                    <label style="color:red;font-weight:bold  " for="cau2">
                        Phía đông.
                    </label>
                </div>
                <ng-template #condition4 [disabled]="true">
                    <div>
                        <input type="radio" name="cau2" formControlName="cau2" value="C">
                        <label for="cau2">
                            Phía đông.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 3) Phía bắc huyện Xuân Lộc tiếp giáp với tỉnh nào?
                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau3 == 'A'; else condition5">
                    <input type="radio" name="cau3" formControlName="cau3" value="A">
                    <label style="color:red;font-weight:bold  " for="cau3">
                        Tỉnh Bình Dương.
                    </label>

                </div>
                <ng-template #condition5>
                    <div>
                        <input type="radio" name="cau3" formControlName="cau3" value="A">
                        <label for="cau3">
                            Tỉnh Bình Dương.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau3 == 'B'; else condition6">
                    <input type="radio" name="cau3" formControlName="cau3" value="B">
                    <label style="color:red;font-weight:bold  " for="cau3">
                        Tỉnh Bình Phước.
                    </label>

                </div>
                <ng-template #condition6>
                    <div>
                        <input type="radio" name="cau3" formControlName="cau3" value="B">
                        <label for="cau3">
                            Tỉnh Bình Phước.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer3">
                    <input type="radio" name="cau3" formControlName="cau3" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau3">
                        Tỉnh Bình Thuận.
                    </label>
                </div>
                <ng-template #answer3 [disabled]="true">
                    <div>
                        <input type="radio" name="cau3" formControlName="cau3" value="C">
                        <label for="cau3">
                            Tỉnh Bình Thuận.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 4) Huyện Xuân Lộc là cửa ngõ nối Đồng Nai với ……………..
                    <br> Từ thích hợp để điền vào chỗ chấm là:

                </h2>
                <div *ngIf="isSubmit else answer4">
                    <input type="radio" name="cau4" formControlName="cau4" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau4">
                        Các tỉnh thuộc duyên hải Nam Trung Bộ.
                    </label>

                </div>
                <ng-template #answer4>
                    <div>
                        <input type="radio" name="cau4" formControlName="cau4" value="A">
                        <label for="cau4">
                            Các tỉnh thuộc duyên hải Nam Trung Bộ.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau4 == 'B'; else condition8">
                    <input type="radio" name="cau4" formControlName="cau4" value="B">
                    <label style="color:red;font-weight:bold  " for="cau4">
                        Các tỉnh thuộc đồng bằng sông Cửu Long.
                    </label>

                </div>
                <ng-template #condition8>
                    <div>
                        <input type="radio" name="cau4" formControlName="cau4" value="B">
                        <label for="cau4">
                            Các tỉnh thuộc đồng bằng sông Cửu Long.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau4 == 'C'; else condition7">
                    <input type="radio" name="cau4" formControlName="cau4" value="C">
                    <label style="color:red;font-weight:bold  " for="cau4">
                        Các tỉnh thuộc Tây Nguyên.
                    </label>
                </div>
                <ng-template #condition7 [disabled]="true">
                    <div>
                        <input type="radio" name="cau4" formControlName="cau4" value="C">
                        <label for="cau4">
                            Các tỉnh thuộc Tây Nguyên.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 5) Huyện Xuân Lộc có thế mạnh phát triển ………………… toàn diện.
                    <br> Từ thích hợp để điền vào chỗ chấm là:

                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau5 == 'A'; else condition9">
                    <input type="radio" name="cau5" formControlName="cau5" value="A">
                    <label style="color:red;font-weight:bold  " for="cau5">
                        Công nghiệp .
                    </label>

                </div>
                <ng-template #condition9>
                    <div>
                        <input type="radio" name="cau5" formControlName="cau5" value="A">
                        <label for="cau5">
                            Công nghiệp .
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit else answer5">
                    <input type="radio" name="cau5" formControlName="cau5" value="B">
                    <label style="color:#0000e6;font-weight:bold  " for="cau5">
                        Nông nghiệp .
                    </label>
                </div>
                <ng-template #answer5>
                    <div>
                        <input type="radio" name="cau5" formControlName="cau5" value="B">
                        <label for="cau5">
                            Nông nghiệp .
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  && answerForm.value.cau5 == 'C'; else condition10">
                    <input type="radio" name="cau5" formControlName="cau5" value="C">
                    <label style="color:red;font-weight:bold  " for="cau5">
                        Thủ công nghiệp .
                    </label>
                </div>
                <ng-template #condition10 [disabled]="true">
                    <div>
                        <input type="radio" name="cau5" formControlName="cau5" value="C">
                        <label for="cau5">
                            Thủ công nghiệp .
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 6) Huyện Xuân Lộc dẫn đầu cả tỉnh về giá trị sản xuất nông nghiệp vào năm nào?
                </h2>
                <div *ngIf="isSubmit    else answer6">
                    <input type="radio" name="cau6" formControlName="cau6" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau6">
                        2014.
                    </label>

                </div>
                <ng-template #answer6>
                    <div>
                        <input type="radio" name="cau6" formControlName="cau6" value="A">
                        <label for="cau6">
                            2014.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau6 == 'B'; else condition12">
                    <input type="radio" name="cau6" formControlName="cau6" value="B">
                    <label style="color:red;font-weight:bold  " for="cau6">
                        2015.
                    </label>

                </div>
                <ng-template #condition12>
                    <div>
                        <input type="radio" name="cau6" formControlName="cau6" value="B">
                        <label for="cau6">
                            2015.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau6 == 'C';  else condition11">
                    <input type="radio" name="cau6" formControlName="cau6" value="C">
                    <label style="color:red;font-weight:bold  " for="cau6">
                        2016.
                    </label>
                </div>
                <ng-template #condition11 [disabled]="true">
                    <div>
                        <input type="radio" name="cau6" formControlName="cau6" value="C">
                        <label for="cau6">
                            2016.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 7) Trong trồng trọt, đâu là loại cây trồng chính của huyện cả về diện tích và sản lượng?
                </h2>
                <div *ngIf="isSubmit else answer7">
                    <input type="radio" name="cau7" formControlName="cau7" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau7">
                        Lúa.
                    </label>

                </div>
                <ng-template #answer7>
                    <div>
                        <input type="radio" name="cau7" formControlName="cau7" value="A">
                        <label for="cau7">
                            Lúa.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau7 == 'B';  else condition13">
                    <input type="radio" name="cau7" formControlName="cau7" value="B">
                    <label style="color:red;font-weight:bold  " for="cau7">
                        Bưởi.
                    </label>

                </div>
                <ng-template #condition13>
                    <div>
                        <input type="radio" name="cau7" formControlName="cau7" value="B">
                        <label for="cau7">
                            Bưởi.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau7 == 'C'; else condition14">
                    <input type="radio" name="cau7" formControlName="cau7" value="C">
                    <label style="color:red;font-weight:bold  " for="cau7">
                        Cam.
                    </label>
                </div>
                <ng-template #condition14 [disabled]="true">
                    <div>
                        <input type="radio" name="cau7" formControlName="cau7" value="C">
                        <label for="cau7">
                            Cam.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 8) Trong chăn nuôi, huyện Xuân Lộc chú trọng phát
                    triển đàn bò, heo và gia cầm lớn nhằm mục đích gì?
                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau8 == 'A'; else condition15">
                    <input type="radio" name="cau8" formControlName="cau8" value="A">
                    <label style="color:red;font-weight:bold  " for="cau8">
                        Đáp ứng thị trường tiêu thụ.
                    </label>
                </div>
                <ng-template #condition15>
                    <div>
                        <input type="radio" name="cau8" formControlName="cau8" value="A">
                        <label for="cau8">
                            Đáp ứng thị trường tiêu thụ.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  && answerForm.value.cau8 == 'B';  else condition16">
                    <input type="radio" name="cau8" formControlName="cau8" value="B">
                    <label style="color:red;font-weight:bold  " for="cau8">
                        Tận dụng phụ phẩm trong nông nghiệp làm thức ăn chăn nuôi và tăng nguồn nguyên
                    </label>
                    <label style="color:red;font-weight:bold  ">liệu cho sản xuất.</label>
                </div>
                <ng-template #condition16>
                    <div>
                        <input type="radio" name="cau8" formControlName="cau8" value="B">
                        <label for="cau8">
                            Tận dụng phụ phẩm trong nông nghiệp làm thức ăn chăn nuôi và tăng nguồn nguyên
                        </label>
                        <label>liệu cho sản xuất.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit else answer8">
                    <input type="radio" name="cau8" formControlName="cau8" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau8">
                        Đáp ứng thị trường tiêu thụ; tận dụng phụ phẩm trong nông nghiệp làm thức ăn

                    </label>
                    <label style="color:#0000e6;font-weight:bold  ">
                        chăn nuôi và tăng nguồn nguyên liệu cho sản xuất.
                    </label>
                </div>
                <ng-template #answer8 [disabled]="true">
                    <div>
                        <input type="radio" name="cau8" formControlName="cau8" value="C">
                        <label for="cau8">
                            Đáp ứng thị trường tiêu thụ; tận dụng phụ phẩm trong nông nghiệp làm thức ăn
                        </label>
                        <label>chăn nuôi và tăng nguồn nguyên liệu cho sản xuất. </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 9) Thời gian gần đây, huyện Xuân Lộc ưu tiên phát triển các ngành nào?
                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau9 == 'A'; else condition18">
                    <input type="radio" name="cau9" formControlName="cau9" value="A">
                    <label style="color:red;font-weight:bold  " for="cau9">
                        Nông nghiệp và lâm nghiệp.
                    </label>

                </div>
                <ng-template #condition18>
                    <div>
                        <input type="radio" name="cau9" formControlName="cau9" value="A">
                        <label for="cau9">
                            Nông nghiệp và lâm nghiệp.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer9">
                    <input type="radio" name="cau9" formControlName="cau9" value="B">
                    <label style="color:#0000e6;font-weight:bold  " for="cau9">
                        Công nghiệp và tiểu thủ công nghiệp .
                    </label>

                </div>
                <ng-template #answer9>
                    <div>
                        <input type="radio" name="cau9" formControlName="cau9" value="B">
                        <label for="cau9">
                            Công nghiệp và tiểu thủ công nghiệp .
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau9 == 'C'; else condition17">
                    <input type="radio" name="cau9" formControlName="cau9" value="C">
                    <label style="color:red;font-weight:bold  " for="cau4">
                        Chăn nuôi gia súc và nuôi trồng thủy sản.
                    </label>
                </div>
                <ng-template #condition17 [disabled]="true">
                    <div>
                        <input type="radio" name="cau9" formControlName="cau9" value="C">
                        <label for="cau9">
                            Chăn nuôi gia súc và nuôi trồng thủy sản.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group " style="padding:0 20px 20px 20px;">
                <h2>
                    Câu 10) Trong thời gian tới, ngành nông nghiệp của huyện phát triển
                    theo định hướng nào?
                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau10 == 'A'; else condition20">
                    <input type="radio" name="cau10" formControlName="cau10" value="A">
                    <label style="color:red;font-weight:bold  " for="cau10">
                        Chú trọng phát triển nông nghiệp hàng hóa, nông nghiệp công nghệ cao ứng dụng
                    </label>
                    <label style="color:red;font-weight:bold  ">
                        khoa học kĩ thuật, đáp ứng nhu cầu tiêu dùng cho cả huyện. </label>
                </div>
                <ng-template #condition20>
                    <div>
                        <input type="radio" name="cau10" formControlName="cau10" value="A">
                        <label for="cau10">
                            Chú trọng phát triển nông nghiệp hàng hóa, nông nghiệp công nghệ cao ứng dụng
                        </label>
                        <label>khoa học kĩ thuật, đáp ứng nhu cầu tiêu dùng cho cả huyện. </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau10 == 'B'; else condition19">
                    <input type="radio" name="cau10" formControlName="cau10" value="B">
                    <label style="color:red;font-weight:bold  " for="cau10">
                        Chú trọng phát triển nông nghiệp hàng hóa, nông nghiệp công nghệ cao ứng dụng
                    </label>
                    <label style="color:red;font-weight:bold  ">
                        khoa học kĩ thuật, đáp ứng nhu cầu tiêu dùng cho huyện
                    </label>
                    <label style="color:red;font-weight:bold  ">
                        và các vùng lân cận.
                    </label>
                </div>
                <ng-template #condition19>
                    <div>
                        <input type="radio" name="cau10" formControlName="cau10" value="B">
                        <label for="cau10">
                            Chú trọng phát triển nông nghiệp hàng hóa, nông nghiệp công nghệ cao ứng dụng
                        </label>
                        <label>
                            khoa học kĩ thuật, đáp ứng nhu cầu tiêu dùng cho huyện
                        </label>
                        <label>
                            và các vùng lân cận.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit   else answer10">
                    <input type="radio" name="cau10" formControlName="cau10" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau10">
                        Chú trọng phát triển nông nghiệp hàng hóa, nông nghiệp công nghệ cao tăng
                    </label>
                    <label style="color:#0000e6;font-weight:bold  ">
                        cường ứng dụng khoa học kĩ thuật, vốn, mở rộng thị trường xuất khẩu.
                    </label>
                </div>
                <ng-template #answer10 [disabled]="true">
                    <div>
                        <input type="radio" name="cau10" formControlName="cau10" value="C">
                        <label for="cau10">
                            Chú trọng phát triển nông nghiệp hàng hóa, nông nghiệp công nghệ cao tăng
                        </label>
                        <label>cường ứng dụng khoa học kĩ thuật, vốn, mở rộng thị trường xuất khẩu.</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group row ">
                <div class="col-md-3 justify-content-left text-center" style="padding-left:0">

                    <a style="color:white;text-decoration: none;cursor: pointer;" (click)="cancel()">
                        <button type="submit" class="btn btn-primary"
                            style="margin: 20px 0;padding:10px 20px;font-size:20px;border-radius:10px">
                            Trở về
                        </button>
                    </a>

                </div>
                <div class="col-md-6">
                    <div *ngIf="!isSubmit else result" class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary"
                            style="margin: 20px 0;padding:10px 20px;font-size:20px;border-radius:10px"
                            (click)="onSubmit()">Nộp bài </button>
                    </div>
                    <ng-template #result>
                        <div class="form-group justify-content-center">
                            <div class="col-md-12 text-center" style="padding:20px 0;">
                                <h2>Số câu đúng là: &nbsp; <span style="color:#0000e6">{{point}}</span>/<span
                                        style="color:red">10</span></h2>
                                <h2>Số điểm của bạn là: &nbsp;<span style="color:#0000e6">{{point}}</span></h2>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div class="col-md-3 text-center">
                    <a routerLink="/danhsachcauhoi"  class="btn btn-primary quest">Câu hỏi</a>
                </div>
            </div>


        </form>


    </div>
</div>


                    <!-- <a style="z-index:9;color:white;text-decoration: none;">
                        <button type="submit" class="btn btn-primary"
                            style="margin: 20px 0;padding:10px 20px;font-size:20px;border-radius:10px">
                            Câu hỏi
                        </button>
                    </a> -->
