
<div class="contain text-center w3-animate-opacity">
  <div class="back text-center">
      <a class="return" routerLink="/dabachong_mucluc"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="picture-content">
      <div class="picture">
          <img src="assets/images/DaBaChong/1.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DaBaChong/2.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DaBaChong/3.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DaBaChong/4.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DaBaChong/5.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DaBaChong/6.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DaBaChong/7.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DaBaChong/8.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DaBaChong/9.jpg" alt="">
      </div>
  </div>
</div>
