<div class="truyen-tranh">
  <div class="return text-center">
    <a class="" routerLink="/lichsu"><i class="fas fa-arrow-left"></i></a>
  </div>

  <p class="title">Nhân vật lịch sử</p>
  <div class="truyen-tranh-container">
    <div class="item">
      <div class="image">
        <img src="assets/comics/NguyenHuuCanh/1.png" />
      </div>
      <a routerLink="/nguyenhuucanh_comic"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>
    <div class="item">
      <div class="image">
        <img src="assets/comics/TranThuongXuyen/1.png" />
      </div>
      <a routerLink="/tranthuongxuyen_comic"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>
    <div class="item">
      <div class="image">
        <img src="assets/comics/TrinhHoaiDuc/1.png" />
      </div>
      <a routerLink="/trinhhoaiduc_comic"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>
    <div class="item">
      <div class="image">
        <img src="assets/images/dien-bien/1.jpg" />
      </div>
      <a routerLink="/dienbien_comic"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>
    <div class="item">
      <div class="image">
        <img src="assets/images/duong-truong-son/1.jpg" />
      </div>
      <a routerLink="/duongtruongson_comic"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>

    <div class="item">
      <div class="image">
        <img src="assets/images/nguyen-tat-thanh/0.jpg" />
      </div>
      <a routerLink="/nguyentatthanh_comic"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>
    <div class="item">
      <div class="image">
        <img src="assets/comics/NguyenThiTon/1.png" />
      </div>
      <a routerLink="/nguyenthiton_comic"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>
    <div class="item">
      <div class="image">
        <img src="assets/comics/DoanVanCu/5.png" />
      </div>
      <a routerLink="/doanvancu_comic"
        ><button class="card-button">Xem ngay</button></a
      >
    </div>
  </div>
</div>
