<div class="card" style="background-color: #03A66A;">
    <div class="card-body">
        <form [formGroup]="answerForm" style="margin:0 auto;width:60%">
            <h1>Huyện Cẩm Mỹ</h1>
            <div class="form-group ">
                <h2>Câu 1) Huyện Cẩm Mỹ có diện tích là: </h2>
                <div *ngIf="isSubmit && answerForm.value.cau1 == 'A'; else condition2">
                    <input type="radio" name="cau1" formControlName="cau1" value="A">
                    <label style="color:red;font-weight:bold  " for="cau1">46,855 km <sup>2</sup></label>

                </div>
                <ng-template #condition2>
                    <div>
                        <input type="radio" name="cau1" formControlName="cau1" value="A">
                        <label for="cau1">46,855 km <sup>2</sup></label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau1 == 'B'; else condition1">
                    <input type="radio" name="cau1" formControlName="cau1" value="B">
                    <label style="color:red;font-weight:bold  " for="cau1">46 855 km <sup>2</sup></label>

                </div>
                <ng-template #condition1>
                    <div>
                        <input type="radio" name="cau1" formControlName="cau1" value="B">
                        <label for="cau1">46 855 km <sup>2</sup></label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit; else answer1">
                    <input type="radio" name="cau1" formControlName="cau1" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau1">468,55 km <sup>2</sup></label>
                </div>
                <ng-template #answer1 [disabled]="true">
                    <div>
                        <input type="radio" name="cau1" formControlName="cau1" value="C">
                        <label for="cau1">468,55 km <sup>2</sup></label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group justify-content-center">
                <h2>Câu 2) Nêu vị trí địa lí của huyện Cẩm Mỹ.</h2>
                <div *ngIf="isSubmit ; else answer2">
                    <input type="radio" name="cau2" formControlName="cau2" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau1">
                        Huyện Cẩm Mỹ nằm ở phía nam tỉnh Đồng Nai.</label>

                </div>
                <ng-template #answer2>
                    <div>
                        <input type="radio" name="cau2" formControlName="cau2" value="A">
                        <label for="cau1">Huyện Cẩm Mỹ nằm ở phía nam tỉnh Đồng Nai.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau2 == 'B'; else condition3">
                    <input type="radio" name="cau2" formControlName="cau2" value="B">
                    <label style="color:red;font-weight:bold  " for="cau2">
                        Huyện Cẩm Mỹ nằm ở phía bắc tỉnh Đồng Nai.</label>

                </div>
                <ng-template #condition3>
                    <div>
                        <input type="radio" name="cau2" formControlName="cau2" value="B">
                        <label for="cau1">Huyện Cẩm Mỹ nằm ở phía bắc tỉnh Đồng Nai.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau2 == 'C'; else condition4">
                    <input type="radio" name="cau2" formControlName="cau2" value="C">
                    <label style="color:red;font-weight:bold  " for="cau2">
                        Huyện Cẩm Mỹ nằm ở phía đông tỉnh Đồng Nai.</label>
                </div>
                <ng-template #condition4 [disabled]="true">
                    <div>
                        <input type="radio" name="cau2" formControlName="cau2" value="C">
                        <label for="cau2">Huyện Cẩm Mỹ nằm ở phía đông tỉnh Đồng Nai.</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>Câu 3) Huyện Cẩm Mỹ giáp với tỉnh Bà Rịa-Vũng Tàu ở phía nào? </h2>
                <div *ngIf="isSubmit && answerForm.value.cau3 == 'A'; else condition5">
                    <input type="radio" name="cau3" formControlName="cau3" value="A">
                    <label style="color:red;font-weight:bold  " for="cau3">Phía nam và tây nam.</label>

                </div>
                <ng-template #condition5>
                    <div>
                        <input type="radio" name="cau3" formControlName="cau3" value="A">
                        <label for="cau3">Phía nam và tây nam.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau3 == 'B'; else condition6">
                    <input type="radio" name="cau3" formControlName="cau3" value="B">
                    <label style="color:red;font-weight:bold  " for="cau3">Phía tây và đông nam.</label>

                </div>
                <ng-template #condition6>
                    <div>
                        <input type="radio" name="cau3" formControlName="cau3" value="B">
                        <label for="cau3">Phía tây và đông nam.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer3">
                    <input type="radio" name="cau3" formControlName="cau3" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau3">Phía nam và đông nam.</label>
                </div>
                <ng-template #answer3 [disabled]="true">
                    <div>
                        <input type="radio" name="cau3" formControlName="cau3" value="C">
                        <label for="cau3">Phía nam và đông nam.</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>Câu 4) Trong trồng trọt, huyện có thế mạnh phát triển những loại cây nào?</h2>
                <div *ngIf="isSubmit && answerForm.value.cau4 == 'A'; else condition7">
                    <input type="radio" name="cau4" formControlName="cau4" value="A">
                    <label style="color:red;font-weight:bold  " for="cau4">Cây lấy gỗ, dược liệu.</label>

                </div>
                <ng-template #condition7>
                    <div>
                        <input type="radio" name="cau4" formControlName="cau4" value="A">
                        <label for="cau4">Cây lấy gỗ, dược liệu.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau4 == 'B'; else condition8">
                    <input type="radio" name="cau4" formControlName="cau4" value="B">
                    <label style="color:red;font-weight:bold  " for="cau4">Cây hoa màu, các loại rau, đậu,...</label>

                </div>
                <ng-template #condition8>
                    <div>
                        <input type="radio" name="cau4" formControlName="cau4" value="B">
                        <label for="cau4">Cây hoa màu, các loại rau, đậu,...</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer4">
                    <input type="radio" name="cau4" formControlName="cau4" value="C">
                    <label style="color:#0000e6;font-weight:bold  "
                    for="cau4">Cây lương thực và cây công nghiệp .</label>
                </div>
                <ng-template #answer4 [disabled]="true">
                    <div>
                        <input type="radio" name="cau4" formControlName="cau4" value="C">
                        <label for="cau4">Cây lương thực và cây công nghiệp .</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>Câu 5) Cẩm Mỹ có thuận lợi gì cho việc phát triển các
                    loại cây lương thực (lúa, bắp, khoai lang) và rau, đậu cho năng suất, chất lượng cao.</h2>
                <div *ngIf="isSubmit && answerForm.value.cau5 == 'A'; else condition9">
                    <input type="radio" name="cau5" formControlName="cau5" value="A">
                    <label style="color:red;font-weight:bold  " for="cau5">
                        Nhờ đặc điểm đất đai màu mỡ, khí hậu thích hợp.</label>

                </div>
                <ng-template #condition9>
                    <div>
                        <input type="radio" name="cau5" formControlName="cau5" value="A">
                        <label for="cau5">Nhờ đặc điểm đất đai màu mỡ, khí hậu thích hợp. </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau5 == 'B'; else condition10">
                    <input type="radio" name="cau5" formControlName="cau5" value="B">
                    <label style="color:red;font-weight:bold  " for="cau5">
                        Nhờ Cẩm Mỹ gần các thị trường tiêu thụ lớn. </label>

                </div>
                <ng-template #condition10>
                    <div>
                        <input type="radio" name="cau5" formControlName="cau5" value="B">
                        <label for="cau5">Nhờ Cẩm Mỹ gần các thị trường tiêu thụ lớn. </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer5">
                    <input type="radio" name="cau5" formControlName="cau5" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau5">
                        Nhờ đặc điểm đất đai, khí hậu thích hợp, gần thị trường tiêu thụ.</label>
                </div>
                <ng-template #answer5 [disabled]="true">
                    <div>
                        <input type="radio" name="cau5" formControlName="cau5" value="C">
                        <label for="cau5">Nhờ đặc điểm đất đai, khí hậu thích hợp, gần thị trường tiêu thụ.</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>Câu 6) Vào năm 2014, Cẩm Mỹ trở thành địa phương trồng cây
                    công nghiệp lâu năm (cà phê, cao su, tiêu, điều) lớn thứ mấy của tỉnh?</h2>
                <div *ngIf="isSubmit  else answer6">
                    <input type="radio" name="cau6" formControlName="cau6" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau6">Thứ nhất.</label>

                </div>
                <ng-template #answer6>
                    <div>
                        <input type="radio" name="cau6" formControlName="cau6" value="A">
                        <label for="cau6">Thứ nhất.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau6 == 'B'; else condition11">
                    <input type="radio" name="cau6" formControlName="cau6" value="B">
                    <label style="color:red;font-weight:bold  " for="cau6">
                        Thứ hai.</label>

                </div>
                <ng-template #condition11>
                    <div>
                        <input type="radio" name="cau6" formControlName="cau6" value="B">
                        <label for="cau6">Thứ hai.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau6 == 'C';  else condition12">
                    <input type="radio" name="cau6" formControlName="cau6" value="C">
                    <label style="color:red;font-weight:bold  " for="cau6">
                        Thứ ba.</label>
                </div>
                <ng-template #condition12 [disabled]="true">
                    <div>
                        <input type="radio" name="cau6" formControlName="cau6" value="C">
                        <label for="cau6">Thứ ba .</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>Câu 7) Sản lượng cà phê của huyện Cẩm Mỹ dẫn đầu tỉnh Đồng Nai vào năm nào? </h2>
                <div *ngIf="isSubmit && answerForm.value.cau7 == 'A'; else condition13">
                    <input type="radio" name="cau7" formControlName="cau7" value="A">
                    <label style="color:red;font-weight:bold  " for="cau7">Năm 2004.</label>

                </div>
                <ng-template #condition13>
                    <div>
                        <input type="radio" name="cau7" formControlName="cau7" value="A">
                        <label for="cau7">Năm 2004.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau7 == 'B'; else condition14">
                    <input type="radio" name="cau7" formControlName="cau7" value="B">
                    <label style="color:red;font-weight:bold  " for="cau7">Năm 2010.</label>

                </div>
                <ng-template #condition14>
                    <div>
                        <input type="radio" name="cau7" formControlName="cau7" value="B">
                        <label for="cau7">Năm 2010.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer7">
                    <input type="radio" name="cau7" formControlName="cau7" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau7">Năm 2014.</label>
                </div>
                <ng-template #answer7 [disabled]="true">
                    <div>
                        <input type="radio" name="cau7" formControlName="cau7" value="C">
                        <label for="cau7">Năm 2014 .</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>Câu 8) Loại cây đặc sản quan trọng của huyện Cẩm Mỹ là: </h2>
                <div *ngIf="isSubmit && answerForm.value.cau8 == 'A'; else condition15">
                    <input type="radio" name="cau8" formControlName="cau8" value="A">
                    <label style="color:red;font-weight:bold  " for="cau8">Cây măng cụt.</label>

                </div>
                <ng-template #condition15>
                    <div>
                        <input type="radio" name="cau8" formControlName="cau8" value="A">
                        <label for="cau8">Cây măng cụt.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer8">
                    <input type="radio" name="cau8" formControlName="cau8" value="B">
                    <label style="color:#0000e6;font-weight:bold  " for="cau8">Cây sầu riêng.</label>

                </div>
                <ng-template #answer8>
                    <div>
                        <input type="radio" name="cau8" formControlName="cau8" value="B">
                        <label for="cau8">Cây sầu riêng.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau8 == 'C';  else condition16">
                    <input type="radio" name="cau8" formControlName="cau8" value="C">
                    <label style="color:red;font-weight:bold  " for="cau8">Cây chôm chôm.</label>
                </div>
                <ng-template #condition16 [disabled]="true">
                    <div>
                        <input type="radio" name="cau8" formControlName="cau8" value="C">
                        <label for="cau8">Cây chôm chôm.</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>Câu 9) Nguyên nhân nào giúp huyện Cẩm Mỹ trở thành địa
                    phương chuyên canh sầu riêng của tỉnh Đồng Nai?</h2>
                <div *ngIf="isSubmit && answerForm.value.cau9 == 'A'; else condition17">
                    <input type="radio" name="cau9" formControlName="cau9" value="A">
                    <label style="color:red;font-weight:bold  " for="cau9">
                        Nhờ đất đai phì nhiêu, khí hậu thích hợp.</label>

                </div>
                <ng-template #condition17>
                    <div>
                        <input type="radio" name="cau9" formControlName="cau9" value="A">
                        <label for="cau9">Nhờ đất đai phì nhiêu, khí hậu thích hợp.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau9 == 'B'; else condition18">
                    <input type="radio" name="cau9" formControlName="cau9" value="B">
                    <label style="color:red;font-weight:bold  " for="cau9">
                        Nhờ người dân có kinh nghiệm trồng sầu riêng.</label>

                </div>
                <ng-template #condition18>
                    <div>
                        <input type="radio" name="cau9" formControlName="cau9" value="B">
                        <label for="cau9">Nhờ người dân có kinh nghiệm trồng sầu riêng.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer9">
                    <input type="radio" name="cau9" formControlName="cau9" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau4">
                        Nhờ đất đai phì nhiêu, khí hậu thích hợp, người dân có kinh nghiệm trồng sầu riêng.</label>
                </div>
                <ng-template #answer9 [disabled]="true">
                    <div>
                        <input type="radio" name="cau9" formControlName="cau9" value="C">
                        <label for="cau9">
                            Nhờ đất đai phì nhiêu, khí hậu thích hợp, người dân có kinh nghiệm trồng sầu riêng.</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group " style="padding:0 20px 20px 20px;">
                <h2>Câu 10) Cẩm Mỹ là địa phương chuyên canh sầu riêng của tỉnh Đồng Nai.
                    Tuy nhiên, giá trị và lợi nhuận sản xuất chưa tương xứng với tiềm năng
                    vốn có của huyện. Vì sao? </h2>
                <div *ngIf="isSubmit  else answer10">
                    <input type="radio" name="cau10" formControlName="cau10" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau10">
                        Vì phụ thuộc vào thị trường đầu ra, giống và vốn đầu tư trồng sầu riêng cao.</label>

                </div>
                <ng-template #answer10>
                    <div>
                        <input type="radio" name="cau10" formControlName="cau10" value="A">
                        <label for="cau10">
                            Vì phụ thuộc vào thị trường đầu ra, giống và vốn đầu tư trồng sầu riêng cao.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau10 == 'B'; else condition19">
                    <input type="radio" name="cau10" formControlName="cau10" value="B">
                    <label style="color:red;font-weight:bold  " for="cau10">Vì giống cây trồng có giá thành cao.</label>

                </div>
                <ng-template #condition19>
                    <div>
                        <input type="radio" name="cau10" formControlName="cau10" value="B">
                        <label for="cau10">Vì giống cây trồng có giá thành cao.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau10 == 'C';  else condition20">
                    <input type="radio" name="cau10" formControlName="cau10" value="C">
                    <label style="color:red;font-weight:bold  " for="cau10">Vì thị trường tiêu thụ hạn hẹp.</label>
                </div>
                <ng-template #condition20 [disabled]="true">
                    <div>
                        <input type="radio" name="cau10" formControlName="cau10" value="C">
                        <label for="cau10">Vì thị trường tiêu thụ hạn hẹp.</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group row ">
                <div class="col-md-3 justify-content-left text-center" style="padding-left:0">

                    <a style="color:white;text-decoration: none;cursor: pointer;" (click)="cancel()">
                        <button type="submit" class="btn btn-primary"
                            style="margin: 20px 0;padding:10px 20px;font-size:20px;border-radius:10px">
                            Trở về
                        </button>
                    </a>

                </div>
                <div class="col-md-6">
                    <div *ngIf="!isSubmit else result" class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary"
                            style="margin: 20px 0;padding:10px 20px;font-size:20px;border-radius:10px"
                            (click)="onSubmit()">Nộp bài </button>
                    </div>
                    <ng-template #result>
                        <div class="form-group justify-content-center">
                            <div class="col-md-12 text-center" style="padding:20px 0;">
                                <h2>Số câu đúng là: &nbsp; <span style="color:#0000e6">{{point}}</span>/<span
                                        style="color:red">10</span></h2>
                                <h2>Số điểm của bạn là: &nbsp;<span style="color:#0000e6">{{point}}</span></h2>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div class="col-md-3 text-center">
                    <a routerLink="/danhsachcauhoi"  class="btn btn-primary quest">Câu hỏi</a>
                </div>
            </div>


        </form>


    </div>
</div>
