form{
  margin:0 auto;
  width:60%;
}

input{
    width:17px;
    height:17px
}

label{
  font-size:20px;
  line-height: 2vw;;
}
h1{
    font-size: 50px;
    font-family: Pacifico;
    text-align: center;
    margin: 25px 0;
    padding:40px;
}
form{
    background-color: white;
    -webkit-box-shadow: 0 0 20px black;
        box-shadow: 0 0 20px black;
}

form div{
    padding-left:20px;
    padding-right:20px
}
button, .quest{
    margin: 20px 0;
    padding:10px 20px;
    font-size:20px;
    border-radius:10px;
    transition: background .5s;
    background: linear-gradient(to left, #FA9905 50%, #03A66A 50%)right ;
    background-size: 200%;
}
button:hover, .quest:hover{
    background-position: left;

}

@media(min-width:1100px){
  label{
    line-height:1.5vw;
  }
}
@media (orientation : portrait){
  @media (max-width : 390px){
    h1{
      font-size: 5vw;
      margin-bottom:0;
      padding:5vw;
    }
    form{
      width:100%;
    }
    .row{
      flex-wrap: nowrap;
    }
    h2{
      font-size: 3vw;
      line-height:5vw;
    }
    label{
      font-size:2.5vw;
      line-height:4vw;
    }
    input{
      width:3vw;
    }
    button, .quest{
      margin:0;
      padding:5px 10px;
      font-size:2.5vw;
      border-radius:5px;
    }
  }

  @media (min-width:400px) and (max-width:500px){
    h1{
      font-size: 5vw;
      margin-bottom:0;
      padding:5vw;
    }
    form{
      width:100%;
    }
    .row{
      flex-wrap: nowrap;
    }
    h2{
      font-size: 3vw;
      line-height:5vw;
    }
    label{
      font-size:2.5vw;
      line-height:4vw;
    }
    input{
      width:3vw;
    }
    button, .quest{
      margin:0;
      padding:5px 10px;
      font-size:2.5vw;
      border-radius:5px;
    }
  }

  @media (min-width: 700px) and (max-width: 1090px){
    h1{
      font-size: 5vw;
      margin-bottom:0;
      padding:5vw;
    }
    form{
      width:90%;
    }
    .row{
      flex-wrap: nowrap;
    }
    h2{
      font-size: 3vw;
      line-height:5vw;
    }
    label{
      font-size:2vw;
      line-height: 3vw;
    }
    input{
      width:3vw;
    }
    button, .quest{
      margin:0;
      padding:5px 10px;
      font-size:2.5vw;
      border-radius:5px;
    }
  }
}

@media (orientation : landscape){

  @media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    h1{
      font-size: 5vw;
      margin-bottom:0;
      padding:5vw;
    }
    form{
      width:70%;
    }
    .row{
      flex-wrap: nowrap;
    }
    h2{
      font-size: 3vw;
      line-height:4vw;
    }
    label{
      font-size:2vw;
      line-height: 2vw;
    }
    input{
      width:3vw;
    }
    button, .quest{
      margin:0;
      padding:5px 10px;
      font-size:2.5vw;
      border-radius:5px;
    }
  }
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    label{
      font-size:2vw;
      line-height: 2.5vw;
    }
  }

  @media only screen
  and (min-width : 374px)
  and (max-width : 813px){
    button, .quest{
      margin:0;
      padding:5px 10px;
      font-size:1.5vw;
      border-radius:5px;
    }
  }

  @media only screen
  and (min-width:375px)
  and (max-width : 750px){
    h1{
      font-size: 5vw;
      margin-bottom:0;
      padding:5vw;
    }
    form{
      width:70%;
    }
    .row{
      flex-wrap: nowrap;
    }
    h2{
      font-size: 2.5vw;
      line-height:4vw;
    }
    label{
      font-size:2vw;
      line-height: 2vw;
    }
    input{
      width:3vw;
    }
    button, .quest{
      margin:0;
      padding:5px 10px;
      font-size:2.5vw;
      border-radius:5px;
    }
  }
}
