<div class="introduce-container">
  <div class="back" (click)="onClickNavigate()">
    <i class="fas fa-arrow-left"></i>
  </div>

  <div class="video">
    <h5>Giới thiệu</h5>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/flUJukELS24?si=is0PLM274K5KDkQ0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
