.introduce-container {
  width: 100%;
  min-height: 100svh;
  margin: 0;
  background: #056cf2;
  position: relative;
}

h5 {
  font-size: 45px;
  margin-bottom: 40px;
  color: #fff6a9;
  font-family: "Pacifico", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.video {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

iframe {
  width: 70%;
  height: 70svh;
  border-radius: 10px;
}

@media screen and (max-width: 950px) {
  .video {
    top: 55%;
  }
  h5 {
    font-size: 30px;
  }

  iframe {
    width: 50%;
    height: 50svh;
  }
}

@media screen and (max-width: 550px) {
  .video {
    position: absolute;
    top: 20%;
  }

  iframe {
    width: 80%;
    height: 30svh;
  }
}
