<div class="card" style="background-color: #03A66A;">
    <div class="card-body">
        <form [formGroup]="answerForm" style="margin:0 auto;width:60%">
            <h1>Huyện Trảng Bom</h1>
            <div class="form-group ">
                <h2>Câu 1) Huyện Trảng Bom có diện tích là: </h2>
                <div *ngIf="isSubmit && answerForm.value.cau1 == 'A'; else condition2">
                    <input type="radio" name="cau1" formControlName="cau1" value="A">
                    <label style="color:red;font-weight:bold  " for="cau1">
                        3 239 km<sup>2</sup>
                    </label>

                </div>
                <ng-template #condition2>
                    <div>
                        <input type="radio" name="cau1" formControlName="cau1" value="A">
                        <label for="cau1">
                            3 239 km<sup>2</sup>
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau1 == 'B'; else condition1">
                    <input type="radio" name="cau1" formControlName="cau1" value="B">
                    <label style="color:red;font-weight:bold  " for="cau1">
                        32 369 km<sup>2</sup>
                    </label>

                </div>
                <ng-template #condition1>
                    <div>
                        <input type="radio" name="cau1" formControlName="cau1" value="B">
                        <label for="cau1">
                            32 369 km<sup>2</sup>
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit; else answer1">
                    <input type="radio" name="cau1" formControlName="cau1" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau1">
                        323,69 km<sup>2</sup>
                    </label>
                </div>
                <ng-template #answer1 [disabled]="true">
                    <div>
                        <input type="radio" name="cau1" formControlName="cau1" value="C">
                        <label for="cau1">
                            323,69 km<sup>2</sup>
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group justify-content-center">
                <h2>Câu 2) Nêu vị trí địa lí của huyện Trảng Bom.</h2>
                <div *ngIf="isSubmit ; else answer2">
                    <input type="radio" name="cau2" formControlName="cau2" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau1">
                        Huyện Trảng Bom nằm ở khu vực trung tâm tỉnh Đồng Nai.
                    </label>

                </div>
                <ng-template #answer2>
                    <div>
                        <input type="radio" name="cau2" formControlName="cau2" value="A">
                        <label for="cau1">
                            Huyện Trảng Bom nằm ở khu vực trung tâm tỉnh Đồng Nai.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau2 == 'B'; else condition3">
                    <input type="radio" name="cau2" formControlName="cau2" value="B">
                    <label style="color:red;font-weight:bold  " for="cau2">
                        Huyện Trảng Bom nằm ở phía bắc tỉnh Đồng Nai.
                    </label>

                </div>
                <ng-template #condition3>
                    <div>
                        <input type="radio" name="cau2" formControlName="cau2" value="B">
                        <label for="cau1">
                            Huyện Trảng Bom nằm ở phía bắc tỉnh Đồng Nai.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau2 == 'C'; else condition4">
                    <input type="radio" name="cau2" formControlName="cau2" value="C">
                    <label style="color:red;font-weight:bold  " for="cau2">
                        Huyện Trảng Bom nằm ở phía đông tỉnh Đồng Nai.
                    </label>
                </div>
                <ng-template #condition4 [disabled]="true">
                    <div>
                        <input type="radio" name="cau2" formControlName="cau2" value="C">
                        <label for="cau2">
                            Huyện Trảng Bom nằm ở phía đông tỉnh Đồng Nai.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>Câu 3) Huyện Trảng Bom giáp với thành phố Biên Hòa ở phía nào?</h2>
                <div *ngIf="isSubmit && answerForm.value.cau3 == 'A'; else condition5">
                    <input type="radio" name="cau3" formControlName="cau3" value="A">
                    <label style="color:red;font-weight:bold  " for="cau3">
                        Phía đông.
                    </label>

                </div>
                <ng-template #condition5>
                    <div>
                        <input type="radio" name="cau3" formControlName="cau3" value="A">
                        <label for="cau3">
                            Phía đông.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau3 == 'B'; else condition6">
                    <input type="radio" name="cau3" formControlName="cau3" value="B">
                    <label style="color:red;font-weight:bold  " for="cau3">
                        Phía nam.
                    </label>

                </div>
                <ng-template #condition6>
                    <div>
                        <input type="radio" name="cau3" formControlName="cau3" value="B">
                        <label for="cau3">
                            Phía nam.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer3">
                    <input type="radio" name="cau3" formControlName="cau3" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau3">
                        Phía tây.
                    </label>
                </div>
                <ng-template #answer3 [disabled]="true">
                    <div>
                        <input type="radio" name="cau3" formControlName="cau3" value="C">
                        <label for="cau3">
                            Phía tây.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 4) Trong chăn nuôi, huyện Trảng Bom tập trung phát triển các đàn gia cầm lớn
                    (gà, vịt, ngỗng ...) nhằm mục đích gì?
                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau4 == 'A'; else condition7">
                    <input type="radio" name="cau4" formControlName="cau4" value="A">
                    <label style="color:red;font-weight:bold  " for="cau4">
                        Để tận dụng nguồn phụ phẩm trong trồng trọt, giải quyết nguồn lao động.
                    </label>

                </div>
                <ng-template #condition7>
                    <div>
                        <input type="radio" name="cau4" formControlName="cau4" value="A">
                        <label for="cau4">
                            Để tận dụng nguồn phụ phẩm trong trồng trọt, giải quyết nguồn lao động.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau4 == 'B'; else condition8">
                    <input type="radio" name="cau4" formControlName="cau4" value="B">
                    <label style="color:red;font-weight:bold  " for="cau4">
                        Để tạo nguồn nguyên liệu cho ngành công nghiệp chế biến thực phẩm.
                    </label>

                </div>
                <ng-template #condition8>
                    <div>
                        <input type="radio" name="cau4" formControlName="cau4" value="B">
                        <label for="cau4">
                            Để tạo nguồn nguyên liệu cho ngành công nghiệp chế biến thực phẩm.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer4">
                    <input type="radio" name="cau4" formControlName="cau4" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau4">
                        Cả A và B đều đúng.
                    </label>
                </div>
                <ng-template #answer4 [disabled]="true">
                    <div>
                        <input type="radio" name="cau4" formControlName="cau4" value="C">
                        <label for="cau4">
                            Cả A và B đều đúng.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 5) Sản lượng thủy sản của huyện Trảng Bom đứng thứ mấy của tỉnh?
                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau5 == 'A'; else condition9">
                    <input type="radio" name="cau5" formControlName="cau5" value="A">
                    <label style="color:red;font-weight:bold  " for="cau5">
                        Thứ nhất.
                    </label>

                </div>
                <ng-template #condition9>
                    <div>
                        <input type="radio" name="cau5" formControlName="cau5" value="A">
                        <label for="cau5">
                            Thứ nhất.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer5">
                    <input type="radio" name="cau5" formControlName="cau5" value="B">
                    <label style="color:#0000e6;font-weight:bold  " for="cau5">
                        Thứ hai.
                    </label>
                </div>
                <ng-template #answer5>
                    <div>
                        <input type="radio" name="cau5" formControlName="cau5" value="B">
                        <label for="cau5">
                            Thứ hai.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau5 == 'C'; else condition10">
                    <input type="radio" name="cau5" formControlName="cau5" value="C">
                    <label style="color:red;font-weight:bold  " for="cau5">
                        Thứ ba.
                    </label>
                </div>
                <ng-template #condition10 [disabled]="true">
                    <div>
                        <input type="radio" name="cau5" formControlName="cau5" value="C">
                        <label for="cau5">
                            Thứ ba.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 6) Trảng Bom đã có biện pháp gì để tăng sản lượng nuôi trồng thủy sản?
                </h2>
                <div *ngIf="isSubmit  && answerForm.value.cau6 == 'A';  else condition11">
                    <input type="radio" name="cau6" formControlName="cau6" value="A">
                    <label style="color:red;font-weight:bold  " for="cau6">
                        Huyện đã sử dụng diện tích mặt nước tự nhiên và chú trọng đầu tư vốn.
                    </label>

                </div>
                <ng-template #condition11>
                    <div>
                        <input type="radio" name="cau6" formControlName="cau6" value="A">
                        <label for="cau6">
                            Huyện đã sử dụng diện tích mặt nước tự nhiên và chú trọng đầu tư vốn.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau6 == 'B'; else condition12">
                    <input type="radio" name="cau6" formControlName="cau6" value="B">
                    <label style="color:red;font-weight:bold  " for="cau6">
                        Huyện đã đầu tư vốn và chú trọng công tác thú y.
                    </label>

                </div>
                <ng-template #condition12>
                    <div>
                        <input type="radio" name="cau6" formControlName="cau6" value="B">
                        <label for="cau6">
                            Huyện đã đầu tư vốn và chú trọng công tác thú y.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit   else answer6">
                    <input type="radio" name="cau6" formControlName="cau6" value="C">
                    <label style="color:#0000e6;font-weight:bold  " for="cau6">
                        Huyện đã sử dụng diện tích mặt nước tự nhiên và nhân tạo, đầu tư vốn,
                            chú trọng
                        </label>
                        <label style="color:#0000e6;font-weight:bold  ">công tác thú y.</label>
                </div>
                <ng-template #answer6 [disabled]="true">
                    <div>
                        <input type="radio" name="cau6" formControlName="cau6" value="C">
                        <label for="cau6">
                            Huyện đã sử dụng diện tích mặt nước tự nhiên và nhân tạo, đầu tư vốn,
                            chú trọng
                        </label>
                        <label>công tác thú y.</label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 7) Tại sao trong thời gian qua, huyện Trảng Bom chú trọng phát
                    triển thêm các ngành công nghiệp (chế biến, cơ khí, may mặc, …)?
                </h2>
                <div *ngIf="isSubmit  else answer7">
                    <input type="radio" name="cau7" formControlName="cau7" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau7">
                        Nhằm khai thác vùng nguyên liệu dồi dào, tạo việc làm và thu nhập cho lao động
                    </label>
                    <label style="color:#0000e6;font-weight:bold  ">tại chỗ.</label>

                </div>
                <ng-template #answer7>
                    <div>
                        <input type="radio" name="cau7" formControlName="cau7" value="A">
                        <label for="cau7">
                            Nhằm khai thác vùng nguyên liệu dồi dào, tạo việc làm và thu nhập cho lao động
                    </label>
                    <label >tại chỗ.</label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau7 == 'B'; else condition13">
                    <input type="radio" name="cau7" formControlName="cau7" value="B">
                    <label style="color:red;font-weight:bold  " for="cau7">
                        Nhằm khai thác vùng nguyên liệu dồi dào.
                    </label>

                </div>
                <ng-template #condition13>
                    <div>
                        <input type="radio" name="cau7" formControlName="cau7" value="B">
                        <label for="cau7">
                            Nhằm khai thác vùng nguyên liệu dồi dào.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau7 == 'C'; else condition14">
                    <input type="radio" name="cau7" formControlName="cau7" value="C">
                    <label style="color:red;font-weight:bold  " for="cau7">
                        Nhằm tạo việc làm và thu nhập cho lao động tại chỗ.
                    </label>
                </div>
                <ng-template #condition14 [disabled]="true">
                    <div>
                        <input type="radio" name="cau7" formControlName="cau7" value="C">
                        <label for="cau7">
                            Nhằm tạo việc làm và thu nhập cho lao động tại chỗ.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 8) Kể tên một số khu công nghiệp của huyện Trảng Bom?
                </h2>
                <div *ngIf="isSubmit && answerForm.value.cau8 == 'A'; else condition15">
                    <input type="radio" name="cau8" formControlName="cau8" value="A">
                    <label style="color:red;font-weight:bold  " for="cau8">
                        Khu công nghiệp Long Bình, Biên Hòa, A-ma-ta,...
                    </label>
                </div>
                <ng-template #condition15>
                    <div>
                        <input type="radio" name="cau8" formControlName="cau8" value="A">
                        <label for="cau8">
                            Khu công nghiệp Long Bình, Biên Hòa, A-ma-ta,...
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit  else answer8">
                    <input type="radio" name="cau8" formControlName="cau8" value="B">
                    <label style="color:#0000e6;font-weight:bold  " for="cau8">
                        Khu công nghiệp Giang Điền, Sông Mây, Hố Nai,...
                    </label>

                </div>
                <ng-template #answer8>
                    <div>
                        <input type="radio" name="cau8" formControlName="cau8" value="B">
                        <label for="cau8">
                            Khu công nghiệp Giang Điền, Sông Mây, Hố Nai,...
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau8 == 'C';  else condition16">
                    <input type="radio" name="cau8" formControlName="cau8" value="C">
                    <label style="color:red;font-weight:bold  " for="cau8">
                        Khu công nghiệp Giang Điền, Biên Hòa, A-ma-ta,...
                    </label>
                </div>
                <ng-template #condition16 [disabled]="true">
                    <div>
                        <input type="radio" name="cau8" formControlName="cau8" value="C">
                        <label for="cau8">
                            Khu công nghiệp Giang Điền, Biên Hòa, A-ma-ta,...
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group ">
                <h2>
                    Câu 9) Việc hình thành các khu công nghiệp với quy mô và diện tích khá lớn
                    đã giúp huyện Trảng Bom phát triển như thế nào?
                </h2>
                <div *ngIf="isSubmit  else answer9">
                    <input type="radio" name="cau9" formControlName="cau9" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau9">
                        Giải quyết việc làm, chuyển đổi cơ cấu kinh tế hiệu quả.
                    </label>

                </div>
                <ng-template #answer9>
                    <div>
                        <input type="radio" name="cau9" formControlName="cau9" value="A">
                        <label for="cau9">
                            Giải quyết việc làm, chuyển đổi cơ cấu kinh tế hiệu quả.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau9 == 'B'; else condition18">
                    <input type="radio" name="cau9" formControlName="cau9" value="B">
                    <label style="color:red;font-weight:bold  " for="cau9">
                        Giải quyết việc làm cho nhiều lao động.
                    </label>

                </div>
                <ng-template #condition18>
                    <div>
                        <input type="radio" name="cau9" formControlName="cau9" value="B">
                        <label for="cau9">
                            Giải quyết việc làm cho nhiều lao động.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau9 == 'C'; else condition17">
                    <input type="radio" name="cau9" formControlName="cau9" value="C">
                    <label style="color:red;font-weight:bold  " for="cau4">
                        Tận dụng được nguồn phụ phẩm trong trồng trọt.
                    </label>
                </div>
                <ng-template #condition17 [disabled]="true">
                    <div>
                        <input type="radio" name="cau9" formControlName="cau9" value="C">
                        <label for="cau9">
                            Tận dụng được nguồn phụ phẩm trong trồng trọt.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group " style="padding:0 20px 20px 20px;">
                <h2>
                    Câu 10) “Huyện Trảng Bom nằm ở khu vực trung tâm tỉnh Đồng Nai, có lợi thế về ……(1)… và…..(2)…”
                    <br> Từ thích hợp điền vào các ô trống lần lượt là:
                </h2>
                <div *ngIf="isSubmit  else answer10">
                    <input type="radio" name="cau10" formControlName="cau10" value="A">
                    <label style="color:#0000e6;font-weight:bold  " for="cau10">
                        Chăn nuôi gia cầm - thủy sản.
                    </label>>
                </div>
                <ng-template #answer10>
                    <div>
                        <input type="radio" name="cau10" formControlName="cau10" value="A">
                        <label for="cau10">
                            Chăn nuôi gia cầm - thủy sản.
                        </label>>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau10 == 'B'; else condition19">
                    <input type="radio" name="cau10" formControlName="cau10" value="B">
                    <label style="color:red;font-weight:bold  " for="cau10">
                        Trồng trọt – chăn nuôi.
                    </label>
                </div>
                <ng-template #condition19>
                    <div>
                        <input type="radio" name="cau10" formControlName="cau10" value="B">
                        <label for="cau10">
                            Trồng trọt – chăn nuôi.
                        </label>
                    </div>
                </ng-template>
                <div *ngIf="isSubmit && answerForm.value.cau10 == 'C';  else condition20">
                    <input type="radio" name="cau10" formControlName="cau10" value="C">
                    <label style="color:red;font-weight:bold  " for="cau10">
                        Thương mại - dịch vụ.
                    </label>
                </div>
                <ng-template #condition20 [disabled]="true">
                    <div>
                        <input type="radio" name="cau10" formControlName="cau10" value="C">
                        <label for="cau10">
                            Thương mại - dịch vụ.
                        </label>
                    </div>
                </ng-template>
            </div>

            <div class="form-group row ">
                <div class="col-md-3 justify-content-left text-center" style="padding-left:0">

                    <a style="color:white;text-decoration: none;cursor: pointer;" (click)="cancel()">
                        <button type="submit" class="btn btn-primary"
                            style="margin: 20px 0;padding:10px 20px;font-size:20px;border-radius:10px">
                            Trở về
                        </button>
                    </a>

                </div>
                <div class="col-md-6">
                    <div *ngIf="!isSubmit else result" class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary"
                            style="margin: 20px 0;padding:10px 20px;font-size:20px;border-radius:10px"
                            (click)="onSubmit()">Nộp bài </button>
                    </div>
                    <ng-template #result>
                        <div class="form-group justify-content-center">
                            <div class="col-md-12 text-center" style="padding:20px 0;">
                                <h2>Số câu đúng là: &nbsp; <span style="color:#0000e6">{{point}}</span>/<span
                                        style="color:red">10</span></h2>
                                <h2>Số điểm của bạn là: &nbsp;<span style="color:#0000e6">{{point}}</span></h2>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div class="col-md-3 text-center">
                    <a routerLink="/danhsachcauhoi"  class="btn btn-primary quest">Câu hỏi</a>
                </div>
            </div>


        </form>


    </div>
</div>
