<div class="contain text-center w3-animate-opacity">
  <div class="back text-center">
      <a class="return" routerLink="/tainguyen"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="picture-content">
    <div class="picture" id="picture">
      <img src="assets/images/LangNghe/5.png" alt="">
  </div>
    <div class="picture">
        <img src="assets/images/LangNghe/1.png" alt="">
    </div>
    <div class="picture ">
        <img src="assets/images/LangNghe/2.png" alt="">
    </div>
    <div class="picture ">
        <img src="assets/images/LangNghe/3.png" alt="">

    </div>
    <div class="picture">
        <img  src="assets/images/LangNghe/4.png" alt="">
    </div>

</div>
