<div class="table-content">
  <div class="main-content">
    <div class="content">
      <p class="count-number">1</p>
      <div class="title">
        <p>Giới thiệu</p>
      </div>
      <div class="list">
        <ul>
          <li>Giới thiệu</li>
          <li>Hướng dẫn sử dụng</li>
          <li>game</li>
        </ul>
      </div>
    </div>
    <div class="content">
      <p class="count-number">2</p>
      <div class="title">
        <p>Lịch sử</p>
      </div>
      <div class="list">
        <ul>
          <li>Lịch sử hành chính</li>
          <li>Di tích lịch sử</li>
          <li>Nhân vật lịch sử</li>
        </ul>
      </div>
    </div>
    <div class="content">
      <p class="count-number">3</p>
      <div class="title">
        <p>Địa lý</p>
      </div>
      <div class="list">
        <ul>
          <li>Giới thiệu tỉnh Đồng Nai</li>
          <li>Địa lý tự nhiên và dân cư</li>
          <li>Địa lý kinh tế</li>
          <li>Địa lý các huyện và thành phố</li>
        </ul>
      </div>
    </div>
    <div class="content">
      <p class="count-number">4</p>
      <div class="title">
        <p>Tài nguyên</p>
      </div>
      <div class="list">
        <ul>
          <li>Bản đồ</li>
          <li>Lễ hội</li>
          <li>Ẩm thực</li>
          <li>Làng nghề</li>
          <li>Du lịch</li>
          <li>Văn hóa</li>
          <li>Trò chơi</li>
          <li>Hoạt hình</li>
        </ul>
      </div>
    </div>
  </div>
</div>
