<div class="table">
  <div class="col-lg-6 row mx-auto">
    <ul class="col-lg-12 ">
      <li>
          <div class="lich-su-list">
            <a couterLink="/lichsu">
              <div class="mx-auto menu col-lg-12 row">
                <div class=" number col-lg-3 text-center">
                  <p > 1</p>
                </div>
                <div class="title col-lg-9 text-left">
                  <p class="">Lịch sử</p>
                </div>
              </div>
            </a>
            <div class="lichsu">
              <ul>
                <li>
                  <a routerLink="/lichsuhanhchinh_mucluc">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Lịch sử hành chính</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/danhsachditich">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left di-tich-list">
                        <p>Di tích lịch sử</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/danhsachtruyentranh">
                    <div class="sub-menu mx-auto col-lg-12 row nhan-vat-list">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left"
                      style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                        <p>Nhân vật lịch sử</p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </li>

      <li>
        <div class="dia-ly-list">
          <a couterLink="/dialy">
            <div class="mx-auto menu col-lg-12 row">
              <div class=" number col-lg-3 text-center">
                <p > 2</p>
              </div>
              <div class="title col-lg-9 text-left">
                <p class="">Địa lí</p>
              </div>
            </div>
          </a>
          <div class="dialy">
            <ul>
              <li>
                <a routerLink="/gioithieu">
                  <div class="sub-menu mx-auto col-lg-12 row">
                    <div class=" col-lg-3 text-center">
                    </div>
                    <div class="title col-lg-9 text-left">
                      <p>Giới thiệu tỉnh Đồng Nai</p>
                    </div>
                  </div>
                </a>
              </li>

              <li>
                <a routerLink="/dialyhanhchinh">
                  <div class="sub-menu mx-auto col-lg-12 row">
                    <div class=" col-lg-3 text-center">
                    </div>
                    <div class="title col-lg-9 text-left di-tich-list">
                      <p>Địa lí tự nhiên và dân cư </p>
                    </div>
                  </div>
                </a>
              </li>

              <li>
                <a routerLink="/dialykinhte">
                  <div class="sub-menu mx-auto col-lg-12 row nhan-vat-list">
                    <div class=" col-lg-3 text-center">
                    </div>
                    <div class="title col-lg-9 text-left"
                    style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                      <p>Địa lí kinh tế tỉnh Đồng Nai</p>
                    </div>
                  </div>
                </a>
              </li>

              <li>
                <a routerLink="/bando">
                  <div class="sub-menu mx-auto col-lg-12 row nhan-vat-list">
                    <div class=" col-lg-3 text-center">
                    </div>
                    <div class="title col-lg-9 text-left"
                    style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                      <p>Địa lí các huyện và thành phố</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </li>
      <li>
          <div class="tai-nguyen-list">
            <div class="mx-auto menu col-lg-12 row">
              <div class="number col-lg-3 text-center">
               <p> 3</p>
              </div>
              <div class="title col-lg-9 text-left">
                <p>Tài nguyên</p>
              </div>
            </div>

            <div class="tainguyen">
              <ul>
                <li>
                  <a routerLink="/sachbando">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Bản đồ</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/lehoi">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Lễ hội</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/amthuc">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Ẩm thực</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/langnghe">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Làng nghề</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/dulich">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Du lịch</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/vanhoa">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Văn hóa</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/trochoi">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Trò chơi</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/hoathinh">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left"
                      style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                        <p>Hoạt hình</p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </li>
    </ul>
  </div>
</div>


