.table-content {
  width: 100%;
  min-height: 100svh;
  background: #03a66a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-content {
  position: absolute;
  background: #03a66a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  width: 100%;
  top: 12%;
}

.title,
ul li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  display: flex;
  width: 90%;
  border: 7px solid black;
  /* align-items: baseline; */
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  transition: background 0.5s ease;
  background: linear-gradient(to right, white 50%, #ffcc29 50%) left;
  background-size: 200%;
}

.title:hover,
ul li:hover {
  background-position: right;
}

.list {
  width: 100%;

  transition: ease;
}

p,
ul li {
  padding: 5px;
  text-align: center;
  margin: 5px;
  font-weight: bold;
  transition: ease;
}

ul {
  padding: 0;
  transition: ease;
}

.count-number {
  border: 5px solid black;
  border-radius: 50%;
  padding: 10px 20px;
  background-color: #ffcc29;
  font-size: 30px;
  margin: 0;
}

ul li {
  margin: 10px auto;
}

ul {
  visibility: hidden;
}

ul:hover {
  visibility: visible;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 22%;
  cursor: pointer;
}

.content:hover ul {
  visibility: visible;
}
@media screen and (max-width: 1200px) {
  .main-content {
    top: 20%;
  }
}
@media screen and (max-width: 950px) {
  .main-content {
    top: 25%;
  }
  .title,
  ul li,
  .count-number {
    font-size: 15px;
  }

  .main-content {
    gap: 15px;
  }
  .content {
    flex: 0 0 45%;
  }

  ul {
    display: none;
  }

  .content:hover ul {
    display: block;
  }

  ul:hover {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    top: 10%;
  }

  .count-number {
    padding: 7px 14px;
  }
}
