<div class="table">
  <div class="col-lg-6 row mx-auto" style="padding-top:40px;padding-bottom:90px">
    <ul class="col-lg-12 ">
      <li>
        <a routerLink="/lichsu">
          <div class="lich-su-list">
            <div class="mx-auto menu col-lg-12 row">
              <div class=" number col-lg-3 text-center">
                <p > 1</p>
              </div>
              <div class="title col-lg-9 text-left">
                <p class="">Lịch sử</p>
              </div>
            </div>
            <div class="lichsu">
              <ul>
                <li>
                  <a routerLink="/lichsuhanhchinh_mucluc">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Lịch sử hành chính</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/danhsachditich">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left di-tich-list">
                        <p>Di tích lịch sử</p>
                      </div>
                    </div>
                    <!-- <div class="ditich">
                      <ul>
                        <li>
                          <a routerLink="/langa_mucluc">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Địa điểm chiến thắng La Ngà</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/daikiniem_mucluc">
                            <div class="sub-menu mx-auto col-lg-12 row ">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Di tích Đài Kỉ niệm</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/dabachong_mucluc">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Đá Ba chồng</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/trinhhoaiduc_mucluc">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Lăng mộ Trịnh Hoài Đức</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/chuadaigiac_mucluc">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Chùa Đại Giác</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/nguyenhuucanh_mucluc">
                            <div class="sub-menu mx-auto col-lg-12 row ">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p style="line-height: 30px;">Đền thờ và mộ Nguyễn Hữu Cảnh</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/dinhtanlan_mucluc">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Đình Tân Lân</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/nguyentriphuong_mucluc">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Đền thờ Nguyễn Tri Phương</p>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div> -->
                  </a>
                </li>

                <li>
                  <a routerLink="/danhsachtruyentranh">
                    <div class="sub-menu mx-auto col-lg-12 row nhan-vat-list">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Nhân vật lịch sử</p>
                      </div>
                    </div>

                    <!-- <div class="nhanvat">
                      <ul>
                        <li>
                          <a routerLink="/nguyenhuucanh_comic">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Nguyễn Hữu Cảnh</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/tranthuongxuyen_comic">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Trần Thượng Xuyên</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/trinhhoaiduc_comic">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Trịnh Hoài Đức</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/nguyenthiton_comic">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Nguyễn Thị Tồn</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/doanvancu_comic">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Đoàn Văn Cự</p>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div> -->
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>

      <li>
        <a routerLink="/dialy">
          <div class="dia-ly-list">
            <div class="mx-auto menu col-lg-12 row">
              <div class="number col-lg-3 text-center">
               <p> 2</p>
              </div>
              <div class="title col-lg-9 text-left">
                <p>Địa lý</p>
              </div>
            </div>
            <div class="dialy">
              <ul>
                <li>
                  <a routerLink="/gioithieu">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Giới thiệu tỉnh Đồng Nai</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/dialyhanhchinh">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Địa lý tự nhiên và dân cư</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/dialykinhte">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Địa lý kinh tế</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/bando">
                    <div class="sub-menu mx-auto col-lg-12 row huyen-list">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left"
                      style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                        <p>Địa lý các huyện và thành phố</p>
                      </div>
                    </div>

                    <!-- <div class="huyen">
                      <ul>
                        <li>
                          <a routerLink="/sachbando">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Bản đồ</p>
                              </div>
                            </div>
                          </a>
                        </li>

                        <li>
                          <a routerLink="/danhsachcauhoi">
                            <div class="sub-menu mx-auto col-lg-12 row">
                              <div class=" col-lg-3 text-center">
                              </div>
                              <div class="title col-lg-9 text-left">
                                <p>Danh sách câu hỏi</p>
                              </div>
                            </div>
                          </a>
                        </li>

                      </ul>
                    </div> -->
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/tainguyen">
          <div class="tai-nguyen-list">
            <div class="mx-auto menu col-lg-12 row">
              <div class="number col-lg-3 text-center">
               <p> 3</p>
              </div>
              <div class="title col-lg-9 text-left">
                <p>Tài nguyên</p>
              </div>
            </div>

            <div class="tainguyen">
              <ul>
                <li>
                  <a routerLink="/sachbando">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Bản đồ</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/lehoi">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Lễ hội</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/amthuc">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Ẩm thực</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/langnghe">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Làng nghề</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/dulich">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Du lịch</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/vanhoa">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Văn hóa</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/trochoi">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Trò chơi</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a routerLink="/hoathinh">
                    <div class="sub-menu mx-auto col-lg-12 row">
                      <div class=" col-lg-3 text-center">
                      </div>
                      <div class="title col-lg-9 text-left">
                        <p>Hoạt hình</p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>


<!-- <div class="col-lg-4 text-center">
      <p class="title">Lịch sử</p>
      <ul>
        <li>
          <a class="name" routerLink="/lichsuhanhchinh_mucluc">
            Lịch sử hành chính
          </a>
        </li>
        <li class="ditichlichsu" >
          <a class="name" routerLink="/danhsachditich">
            Di tích lịch sử
          </a>
          <div class="ditich">
            <ul>
              <li>
                <a class="subtitle" routerLink="/langa_mucluc">
                  Địa điểm chiến thắng La Ngà
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="/daikiniem_mucluc">
                  Di tích Đài Kỉ niệm
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="/dabachong_mucluc">
                  Đá Ba chồng
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="trinhhoaiduc_mucluc">
                  Lăng mộ Trịnh Hoài Đức
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="/chuadaigiac_mucluc">
                  Chùa Đại Giác
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="/nguyenhuucanh_mucluc">
                  Đền thờ và mộ Nguyễn Hữu Cảnh
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="/dinhtanlan_mucluc">
                  Đình Tân Lân
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="/nguyentriphuong_mucluc">
                  Đền thờ Nguyễn Tri Phương
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nhanvatlichsu">
          <a class="name" routerLink="/danhsachtruyentranh">
            Nhân vật lịch sử
          </a>
          <div class="nhanvat">
            <ul>
              <li>
                <a class="subtitle" routerLink="/nguyenhuucanh_comic">
                  Nguyễn Hữu Cảnh
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="/tranthuongxuyen_comic">
                  Trần Thượng Xuyên
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="/trinhhoaiduc_comic">
                  Trịnh Hoài Đức
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="nguyenthiton_comic">
                  Nguyễn Thị Tồn
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="doanvancu_comic">
                  Đoàn Văn Cự
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 text-center">
      <p class="title">Địa lý</p>
      <ul>
        <li>
          <a class="name" routerLink="/gioithieu">
            Giới thiệu tỉnh Đồng Nai
          </a>
        </li>
        <li>
          <a class="name" routerLink="">
            Địa lý tự nhiên và dân cư
          </a>
        </li>
        <li>
          <a class="name" routerLink="">
            Địa lý kinh tế
          </a>
        </li>
        <li class="dialy">
          <a class="name" routerLink="/bando">
            Địa lý các huyện và thành phố
          </a>
          <div class="bando">
            <ul>
              <li>
                <a class="subtitle" routerLink="/bando">
                  Bản đồ
                </a>
              </li>
              <li>
                <a class="subtitle" routerLink="/danhsachcauhoi">
                  Câu hỏi
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 text-center">
      <p class="title">Tài nguyên</p>
      <ul>
        <li>
          <a class="name" routerLink="/sachbando">
            Bản đồ
          </a>
        </li>
        <li>
          <a class="name" routerLink="/lehoi">
            Lễ hội
          </a>
        </li>
        <li>
          <a class="name" routerLink="/amthuc">
            Ẩm thực
          </a>
        </li>
        <li>
          <a class="name" routerLink="/langnghe">
            Làng nghề
          </a>
        </li>
        <li>
          <a class="name" routerLink="/dulich">
            Du lịch
          </a>
        </li>
        <li>
          <a class="name" routerLink="/vanhoa">
            Văn hóa
          </a>
        </li>
        <li>
          <a class="name" routerLink="/trochoi">
            Trò chơi
          </a>
        </li>
        <li>
          <a class="name" routerLink="/hoathinh">
            Hoạt hình
          </a>
        </li>
      </ul>
    </div> -->
