<div class="dia-ly w3-animate-opacity">
  <div class="dia-ly-container">
    <div class="item">
      <img
        src="assets/images/gioithieu.jpg"
        alt=""
        (click)="onClickNavigate('/gioithieu')"
      />
      <button (click)="onClickNavigate('/gioithieu')">
        Giới thiệu <br />
        tỉnh Đồng Nai
      </button>
    </div>
    <!-- 134 -->
    <div class="item">
      <img
        src="assets/images/Bìa_Bài 1_Địa lí tự nhiên và dân cư.png"
        alt=""
        (click)="onClickNavigate('/dialyhanhchinh')"
      />
      <button (click)="onClickNavigate('/dialyhanhchinh')">
        Địa lý tự nhiên <br />
        và dân cư
      </button>
    </div>
    <div class="item">
      <img
        src="assets/images/dialikinhte.jpg"
        alt=""
        (click)="onClickNavigate('/dialykinhte')"
      />
      <button (click)="onClickNavigate('/dialykinhte')">
        Địa lý kinh tế <br />tỉnh Đồng Nai
      </button>
    </div>

    <div class="item">
      <img
        src="assets/images/gioithieuchung.jpg"
        alt=""
        (click)="onClickNavigate('/bando')"
      />
      <button (click)="onClickNavigate('/bando')">
        Địa lý các huyện <br />và thành phố
      </button>
    </div>
  </div>
</div>
