<div class="contain text-center w3-animate-opacity">
  <div class="back text-center">
      <a class="return" routerLink="/dinhtanlan_mucluc"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="picture-content">
      <div class="picture">
          <img src="assets/images/DinhTanLan/1.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DinhTanLan/2.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DinhTanLan/3.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DinhTanLan/4.jpg" alt="">
      </div>
      <div class="picture">
          <img src="assets/images/DinhTanLan/5.jpg" alt="">
      </div>
      <div class="picture">
          <img usemap="#picture6" src="assets/images/DinhTanLan/6.jpg" alt="">
          <map name="picture6">
            <area shape="rect" target="_blank" coords="883,1152,965,1261" href="https://www.google.com/maps/@10.9471565,106.8114705,3a,75y,184.12h,94.53t/data=!3m7!1e1!3m5!1sAF1QipPSWUeGTNX_T6ElvIR1qHHAVBNoSYu4TbYno5M7!2e10!3e12!7i11264!8i5632" alt="">
        </map>
      </div>
      <div class="picture">
        <img src="assets/images/DinhTanLan/7.jpg" alt="">
    </div>
    <div class="picture">
        <img src="assets/images/DinhTanLan/8.jpg" alt="">
    </div>
    <div class="picture">
        <img src="assets/images/DinhTanLan/9.jpg" alt="">
    </div>
    <div class="picture">
        <img src="assets/images/DinhTanLan/10.jpg" alt="">
    </div>
    <div class="picture">
        <img src="assets/images/DinhTanLan/11.jpg" alt="">
    </div>
    <div class="picture">
        <img src="assets/images/DinhTanLan/12.jpg" alt="">
    </div>
    <div class="picture">
      <img src="assets/images/DinhTanLan/13.jpg" alt="">
  </div>
  <div class="picture">
      <img src="assets/images/DinhTanLan/14.jpg" alt="">
  </div>
  </div>
</div>
