<div class="lich-su w3-animate-opacity">
  <div class="back col-sm-2">
    <a class="return" (click)="cancel()" style="cursor: pointer;">
            <i class="fas fa-arrow-left"></i>
    </a>
</div>
    <h5>Câu hỏi kiểm tra kiến thức</h5>
    <div class="col-lg-12 row" style="margin:0 auto">
        <div class="col-lg-3 col2">
            <img src="assets/images/tests/bienhoa.jpg" alt="">
            <a routerLink="/bienhoa_test" style="cursor: pointer;" class="card-button" >Làm ngay</a>
        </div>

        <div class="col-lg-3 col2">
            <img src="assets/images/tests/longkhanh.jpg" alt="">
            <a routerLink="/longkhanh_test" class="card-button" >Làm ngay</a>
        </div>

        <div class="col-lg-3 col2">
            <img src="assets/images/tests/vinhcuu.jpg" alt="">
            <a routerLink="/vinhcuu_test" class="card-button" >Làm ngay</a>
        </div>

        <div class="col-lg-3 col2">
            <img src="assets/images/tests/tanphu.jpg" alt="">
            <a routerLink="/tanphu_test" class="card-button" >Làm ngay</a>
        </div>
    </div>

    <div class="col-lg-12 row" style="margin:0 auto">
        <div class="col-lg-3 col2">
            <img src="assets/images/tests/dinhquan.jpg" alt="">
            <a routerLink="/dinhquan_test" class="card-button" >Làm ngay</a>
        </div>

        <div class="col-lg-3 col2">
            <img src="assets/images/tests/xuanloc.jpg" alt="">
            <a routerLink="/xuanloc_test" class="card-button" >Làm ngay</a>
        </div>

        <div class="col-lg-3 col2">
            <img src="assets/images/tests/thongnhat.jpg" alt="">
            <a routerLink="/thongnhat_test" class="card-button" >Làm ngay</a>
        </div>

        <div class="col-lg-3 col2">
            <img src="assets/images/tests/longthanh.jpg" alt="">
            <a routerLink="/longthanh_test" class="card-button" >Làm ngay</a>
        </div>
    </div>

    <div class="col-lg-9 row" style="margin:0 auto">
        <div class="col-lg-4 col2">
            <img src="assets/images/tests/nhontrach.jpg" alt="">
            <a routerLink="/nhontrach_test" class="card-button" >Làm ngay</a>
        </div>

        <div class="col-lg-4 col2">
            <img src="assets/images/tests/trangbom.jpg" alt="">
            <a routerLink="/trangbom_test" class="card-button" >Làm ngay</a>
        </div>

        <div class="col-lg-4 col2">
            <img src="assets/images/tests/cammy.jpg" alt="">
            <a routerLink="/cammy_test" class="card-button" >Làm ngay</a>
        </div>

    </div>
</div>
