<div class="contain text-center">
    <div class="back ">
        <a class="return" routerLink="/lichsuhanhchinh_mucluc"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div style="margin-top:0px" class="video ">
        <h5>
            Sơ lược về lịch sử hành chính tỉnh Đồng Nai
        </h5>
        <iframe src="https://www.youtube.com/embed/6i1pnJtgzf0" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="video" style="margin-top:0">
        <h5 style="margin-top:80px;margin-bottom:60px">Chúa Nguyễn Phúc Tần mở đất Đồng Nai</h5>
        <iframe src="https://www.youtube.com/embed/6i1pnJtgzf0" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>


</div>
