<div class="contain text-center">
  <div class="back ">
    <a class="return" routerLink="/lichsuhanhchinh_mucluc"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div style="margin-top:0px" class="video ">
    <h5 class="title1">
      Sơ lược về lịch sử hành chính tỉnh Đồng Nai
    </h5>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/L4EiS_lQ7nY" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="video" style="margin-top:0">
    <!-- <h5 class="title2">Chúa Nguyễn Phúc Tần mở đất Đồng Nai</h5>
    <iframe src="https://www.youtube.com/embed/6i1pnJtgzf0" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe> -->
      <h5>
        Lễ Thành Hầu Nguyễn Hữu Cảnh
      </h5>
      
        <iframe width="560" height="315" src="https://www.youtube.com/embed/i_OU9eTabVM" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
  </div>


</div>
