.lich-su-container {
  width: 100%;
  min-height: 100svh;
  margin: 0;
  background: #056cf2;
  position: relative;
}

h5 {
  font-size: 45px;
  margin: 80px 0 30px 0;
  color: #fff6a9;
  font-family: "Pacifico", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

iframe {
  width: 70%;
  height: 70svh;
  border-radius: 10px;
  margin: 20px;
}

@media screen and (max-width: 950px) {
  h5 {
    font-size: 30px;
  }

  iframe {
    width: 60%;
    height: 65svh;
  }
}

@media screen and (max-width: 550px) {
  iframe {
    width: 80%;
    height: 30svh;
  }
}
