
<div class="contain text-center w3-animate-opacity">
    <div class="back text-center">
        <a class="return" routerLink="/lichsuhanhchinh_mucluc"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="picture-content">
        <div class="picture">
            <img src="assets/images/LichSuHanhChinh/1.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LichSuHanhChinh/2.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LichSuHanhChinh/3.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LichSuHanhChinh/4.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LichSuHanhChinh/5.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LichSuHanhChinh/6.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LichSuHanhChinh/7.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LichSuHanhChinh/8.jpg" alt="">
        </div>
        <div class="picture">
            <img src="assets/images/LichSuHanhChinh/9.jpg" alt="">
        </div>

    </div>
</div>
