<div class="menu">
  <div class="nav row text-center">
    <div class="col-lg-11 row mx-auto">
      <div class="col con1 " routerLinkActive="active">
        <a class="a1" [routerLink]="['vitri']">
          <div class="content">
            <i class="fas fa-map-marker-alt icon1"></i>
            <p class=" value1">Vị trí <span><i class="fas fa-map-marker-alt"></i></span></p>
          </div>
        </a>
      </div>
      <div class="col con4" routerLinkActive="active">
        <a class="a1" [routerLink]="['noidung']">
          <div class="content">
            <i class="fas fa-info-circle icon4"></i>
            <p class=" value4">Nội dung <span><i class="fas fa-book-reader "></i></span></p>
          </div>
        </a>
      </div>
      <div class="col con2" routerLinkActive="active">
        <a class="a1" [routerLink]="['lichsu']">
          <div class="content">
            <i class="fas fa-hourglass-half icon2"></i>
            <p class=" value2">Lịch sử <span><i class="fas fa-hourglass-half "></i></span></p>
          </div>
        </a>
      </div>
      <div class="col con3" routerLinkActive="active">
        <a class="a1" [routerLink]="['dialy']">
          <div class="content">
            <i class="fas fa-globe-asia icon3"></i>
            <p class=" value3">Địa lý <span><i class="fas fa-globe-asia "></i></span></p>
          </div>
        </a>
      </div>

      <div class="col con5 " routerLinkActive="active">
        <a class="a1" [routerLink]="['tainguyen']">
          <div class="content">
            <i class="fas fa-gem icon5"></i>
            <p class=" value5">Tài nguyên <span><i class="fas fa-gem"></i></span></p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
