
@media(min-width:1100px){
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");


.lich-su {
  position: absolute;
  width: 100%;
  height: calc(100vh - 83px);
  background: #FFCC29;
}
.card-content{
  margin-top:40px
}
.image{
  padding-left:10%;
}
.card-content:hover img{
  margin-top:-20px;
}
img{
  width:90%;
  height:65vh;
  position:relative;
  -webkit-box-shadow: 0 0 20px black;
              box-shadow: 0 0 20px black;
}
.card-content a{
  position:absolute;
  left:29%;
  bottom:10%;
  z-index:999;
}


.card-button {
  padding: 15px 20px;
  border-radius: 50px;
  background: #5CE3F2;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  text-decoration: none;
  color: #3940BF;
  font-size: 30px;
  transition: background .5s;
   background: linear-gradient(to left, #5CE3F2 50%, #F2935C 50%)right ;
    background-size: 200%;

}
.card-button:hover{
  background-position: left;

}

.back{
  position: relative;
  margin:0;
  font-size: 40px;
  top: 10px;
  width: 100px;
  left: 40px;
}
.back a{
  color:white;
  text-decoration: none;
  transition: .2s;
}
.back a i{
  width:50px;
}
.back a:hover{
  border: 5px solid white;
  border-radius: 20px;

}
}
@media (orientation : portrait){
  @media (max-width : 390px){
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");


  .lich-su {
    position: absolute;
    width: 100%;
    background: #FFCC29;
  }
  .card-content{
    margin-top:40px
  }
  .image{
    padding-left:10%;
  }
  img{
    width:80%;
    margin-left:4vw;
    height:35vh;
    position:relative;
    -webkit-box-shadow: 0 0 20px black;
                box-shadow: 0 0 20px black;
    margin-bottom:7vw;
  }
  .card-content a{
    position:absolute;
    left:31vw;
    bottom:12vw;
    z-index:999;
  }
  .card-button {
    padding: 10px 15px;
    border-radius: 50px;
    background: #5CE3F2;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    color: #3940BF;
    font-size: 5vw;
    transition: background .5s;
     background: linear-gradient(to left, #5CE3F2 50%, #F2935C 50%)right ;
      background-size: 200%;

  }
  .card-button:hover{
    background-position: left;

  }

  .back{
    display:none;
  }
  }

  @media (min-width:400px) and (max-width:500px){
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");


  .lich-su {
    position: absolute;
    width: 100%;
    background: #FFCC29;
  }
  .card-content{
    margin-top:40px
  }
  .image{
    padding-left:10%;
  }
  img{
    width:60vw;
    margin-left:5vw;
    height:37vh;
    position:relative;
    -webkit-box-shadow: 0 0 20px black;
                box-shadow: 0 0 20px black;
    margin-bottom:10vw;
  }
  .card-content a{
    position:absolute;
    left:31vw;
    bottom:14vw;
    z-index:999;
  }
  .card-button {
    padding: 15px 20px;
    border-radius: 50px;
    background: #5CE3F2;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    color: #3940BF;
    font-size: 5vw;
    transition: background .5s;
     background: linear-gradient(to left, #5CE3F2 50%, #F2935C 50%)right ;
      background-size: 200%;

  }
  .card-button:hover{
    background-position: left;

  }

  .back{
    display:none;
  }
  }

  @media only screen
 and (min-width: 1024px)
 and (max-width: 1366px){
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");


    .lich-su {
      position: absolute;
      width: 100%;
      height: calc(100vh - 80px);
      background: #FFCC29;
    }
    .card-content:hover img{
      margin-top:-20px;
    }
    img{
      width:90%;
      margin-left:2vw;
      height:33vh;
      position:relative;
      -webkit-box-shadow: 0 0 20px black;
                  box-shadow: 0 0 20px black;
    }

    .card-content a{
      position:absolute;
      left:7vw;
      bottom:8%;
      z-index:999;
    }
    .card-button {
      padding: 15px 20px;
      border-radius: 50px;
      background: #5CE3F2;
      font-weight: bold;
      cursor: pointer;
      border: none;
      margin: 0 auto;
      text-decoration: none;
      color: #3940BF;
      font-size: 3vw;
      transition: background .5s;
       background: linear-gradient(to left, #5CE3F2 50%, #F2935C 50%)right ;
        background-size: 200%;

    }
    .card-button:hover{
      background-position: left;

    }

    .back{
      position: relative;
      margin:0;
      font-size: 40px;
      top: 8vw;
      width: 100px;
      left: 40px;
      margin-bottom: 15vw;
    }
    .back a{
      color:white;
      text-decoration: none;
      transition: .2s;
    }
    .back a i{
      width:50px;
    }
    .back a:hover{
      border: 5px solid white;
      border-radius: 20px;

    }
  }

  @media only screen
 and (min-width : 768px)
 and (max-height : 1024px) {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");


  .lich-su {
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    background: #FFCC29;
  }
  .card-content:hover img{
    margin-top:-20px;
  }
  img{
    width:90%;
    margin-left:2vw;
    height:33vh;
    position:relative;
    -webkit-box-shadow: 0 0 20px black;
                box-shadow: 0 0 20px black;
  }

  .card-content a{
    position:absolute;
    left:7.5vw;
    bottom:8%;
    z-index:999;
  }
  .card-button {
    padding: 15px 20px;
    border-radius: 50px;
    background: #5CE3F2;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    color: #3940BF;
    font-size: 2.5vw;
    transition: background .5s;
     background: linear-gradient(to left, #5CE3F2 50%, #F2935C 50%)right ;
      background-size: 200%;

  }
  .card-button:hover{
    background-position: left;

  }

  .back{
    position: relative;
    margin:0;
    font-size: 40px;
    top: 8vw;
    width: 100px;
    left: 40px;
    margin-bottom: 15vw;
  }
  .back a{
    color:white;
    text-decoration: none;
    transition: .2s;
  }
  .back a i{
    width:50px;
  }
  .back a:hover{
    border: 5px solid white;
    border-radius: 20px;

  }
 }
}

@media (orientation : landscape){

@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");


  .lich-su {
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    background: #FFCC29;
  }
  .card-content:hover img{
    margin-top:-20px;
  }
  img{
    width:100%;
    height:52vh;
    position:relative;
    -webkit-box-shadow: 0 0 20px black;
                box-shadow: 0 0 20px black;
  }
  .card-content a{
    position:absolute;
    left:8vw;
    bottom:10%;
    z-index:999;
  }
  .card-button {
    padding: 20px 25px;
    border-radius: 50px;
    background: #5CE3F2;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    color: #3940BF;
    font-size: 3vw;
    transition: background .5s;
     background: linear-gradient(to left, #5CE3F2 50%, #F2935C 50%)right ;
      background-size: 200%;

  }
  .card-button:hover{
    background-position: left;

  }

  .back{
    position: relative;
    margin:0;
    font-size: 40px;
    top: 5vw;
    width: 100px;
    left: 40px;
    margin-bottom:10vw;
  }
  .back a{
    color:white;
    text-decoration: none;
    transition: .2s;
  }
  .back a i{
    width:50px;
  }
  .back a:hover{
    border: 5px solid white;
    border-radius: 20px;

  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");


  .lich-su {
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    background: #FFCC29;
  }
  .card-content:hover img{
    margin-top:-20px;
  }
  img{
    width:100%;
    height:52vh;
    position:relative;
    -webkit-box-shadow: 0 0 20px black;
                box-shadow: 0 0 20px black;
  }
  .card-content a{
    position:absolute;
    left:6vw;
    bottom:10%;
    z-index:999;
  }
  .card-button {
    padding: 15px 20px;
    border-radius: 50px;
    background: #5CE3F2;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    color: #3940BF;
    font-size: 3vw;
    transition: background .5s;
     background: linear-gradient(to left, #5CE3F2 50%, #F2935C 50%)right ;
      background-size: 200%;

  }
  .card-button:hover{
    background-position: left;

  }

  .back{
    position: relative;
    margin:0;
    font-size: 40px;
    top: 5vw;
    width: 100px;
    left: 40px;
    margin-bottom:10vw;
  }
  .back a{
    color:white;
    text-decoration: none;
    transition: .2s;
  }
  .back a i{
    width:50px;
  }
  .back a:hover{
    border: 5px solid white;
    border-radius: 20px;

  }
}

@media only screen
and (min-width : 374px)
 and (max-width : 813px){
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");


.lich-su {
  position: absolute;
  width: 100%;
  background: #FFCC29;
}
.card-content{
  margin-top:4vw
}
.image{
  padding-left:10%;
}
.card-content:hover img{
  margin-top:-20px;
}
img{
  width:90%;
  height:65vh;
  position:relative;
  -webkit-box-shadow: 0 0 20px black;
              box-shadow: 0 0 20px black;
  margin-bottom:3vw;
}
.card-content a{
  position:absolute;
  left:8.5vw;
  bottom:5vw;
  z-index:999;
}
.card-button {
  padding: 10px 15px;
  border-radius: 50px;
  background: #5CE3F2;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  text-decoration: none;
  color: #3940BF;
  font-size: 2vw;
  transition: background .5s;
   background: linear-gradient(to left, #5CE3F2 50%, #F2935C 50%)right ;
    background-size: 200%;

}
.card-button:hover{
  background-position: left;

}

.back{
  display:none;
}
}

@media only screen
and (min-width: 370px)
and (max-width : 750px){
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
  .lich-su {
    position: absolute;
    width: 100%;
    background: #FFCC29;
  }
  .card-content{
    margin-top:4vw
  }
  .image{
    padding-left:10%;
  }
  .card-content:hover img{
    margin-top:-20px;
  }
  img{
    width:38vw;
    margin-left:21vw;
    height:65vh;
    position:relative;
    -webkit-box-shadow: 0 0 20px black;
                box-shadow: 0 0 20px black;
    margin-bottom:3vw;
  }
  .card-content a{
    position:absolute;
    left:43vw;
    bottom:6vw;
    z-index:999;
  }
  .card-button {
    padding: 10px 15px;
    border-radius: 50px;
    background: #5CE3F2;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    color: #3940BF;
    font-size: 3vw;
    transition: background .5s;
     background: linear-gradient(to left, #5CE3F2 50%, #F2935C 50%)right ;
      background-size: 200%;

  }
  .card-button:hover{
    background-position: left;

  }

  .back{
    display:none;
  }
}
}


