@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
.di-tich {
  width: 100%;
  min-height: 100%;
  position: relative;
  background: #056cf2;
}

.di-tich-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #056cf2;
  position: absolute;
  gap: 20px;
  flex-wrap: wrap;
}

.card-book {
  width: 100%;
  height: 100%;
}

.item {
  position: relative;
  flex: 0 0 20%;
  margin: 10px;
  width: 100%;
  height: 60svh;
  cursor: pointer;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card-book .details {
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: #ffc107;
  transition: 0.75s ease;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card-book:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card-book .details .center {
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 70%;
  font-size: 30px;
}

p {
  font-family: Pacifico;
}
.title {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}

.card-button {
  width: 80%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 50px;
  background: #1f75c4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: background 0.5s;
  background: linear-gradient(to left, #0082c8 50%, #ed213a 50%) right;
  background-size: 200%;
}
.card-button:hover,
.details:hover .card-button {
  background-position: left;
}

@media (max-width: 1024px) {
  .item {
    height: 50svh;
    font-size: 1.5rem;
  }

  .card-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 950px) {
  .title {
    font-size: 35px;
    padding: 50px 0 20px 0;
  }

  .card-book .details .center {
    font-size: 20px;
  }
  .card-button {
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 750px) {
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 20px;
    padding: 50px 0 20px 0;
  }

  .item {
    flex: 0 0 35%;
    height: 25svh;
  }

  .card-book .details .center {
    font-size: 15px;
  }

  .card-button {
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
  }
}
