<div class="di-tich">
  <div class="return text-center">
    <a class="" routerLink="/lichsu"><i class="fas fa-arrow-left"></i></a>
  </div>
  <p class="title">Danh sách di tích lịch sử - văn hóa tiêu biểu</p>

  <div class="di-tich-container">
    <div class="item">
      <div class="card-book">
        <img src="assets/images/LaNga/1.jpg" />
        <div class="details">
          <div class="center">
            <p>
              Địa điểm <br />
              chiến thắng <br />
              La Ngà
            </p>

            <button
              class="card-button"
              (click)="onClickNavigate('/langa_mucluc')"
            >
              Xem ngay
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card-book">
        <img src="assets/images/DaiKiNiem/1.png" />
        <div class="details">
          <div class="center">
            <p>
              Di tích <br />
              Đài Kỉ niệm
            </p>

            <button
              class="card-button"
              (click)="onClickNavigate('/daikiniem_mucluc')"
            >
              Xem ngay
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card-book">
        <img src="assets/images/DaBaChong/1.jpg" />
        <div class="details">
          <div class="center">
            <p>
              Đá Chồng <br />
              Định Quán
            </p>
            <button
              class="card-button"
              (click)="onClickNavigate('dabachong_mucluc')"
            >
              Xem ngay
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card-book">
        <img src="assets/images/TrinhHoaiDuc/0.jpg" />
        <div class="details">
          <div class="center">
            <p>
              Trịnh <br />
              Hoài Đức
            </p>
            <button
              class="card-button"
              (click)="onClickNavigate('/trinhhoaiduc_mucluc')"
            >
              Xem ngay
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card-book">
        <img src="assets/images/ChuaDaiGiac/1.jpg" />
        <div class="details">
          <div class="center">
            <p>
              Chùa <br />
              Đại Giác
            </p>
            <button
              class="card-button"
              (click)="onClickNavigate('/chuadaigiac_mucluc')"
            >
              Xem ngay
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card-book">
        <img src="assets/images/NguyenHuuCanh/0.jpg" />
        <div class="details">
          <div class="center">
            <p>
              Nguyễn <br />
              Hữu Cảnh
            </p>
            <button
              class="card-button"
              (click)="onClickNavigate('/nguyenhuucanh_mucluc')"
            >
              Xem ngay
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card-book">
        <img src="assets/images/DinhTanLan/1.jpg" />
        <div class="details">
          <div class="center">
            <p>
              Đình <br />
              Tân Lân
            </p>
            <button
              class="card-button"
              (click)="onClickNavigate('/dinhtanlan_mucluc')"
            >
              Xem ngay
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card-book">
        <img src="assets/images/NguyenTriPhuong/0.jpg" />
        <div class="details">
          <div class="center">
            <p>
              Nguyễn <br />
              Tri Phương
            </p>
            <button
              class="card-button"
              (click)="onClickNavigate('/nguyentriphuong_mucluc')"
            >
              Xem ngay
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
