<link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">
<div class="di-tich w3-animate-opacity" style="height:150vh">
    <div class="back text-center">
        <a class="return" (click)="cancel()" style="cursor: pointer;"><i class="fas fa-arrow-left"></i></a>
    </div>
    <h5 style="margin-top:30px;margin-bottom:60px">Danh sách di tích lịch sử - văn hóa tiêu biểu</h5>

    <div class=" col-md-11 row" style="margin-top: 50px;margin:0 auto;">
        <div class="col-md-3">
            <div style="margin-top:30px" class="card-book text-center">
                <div class="image">
                    <img src="assets/images/LaNga/1.jpg" />
                </div>
                <div class="details">
                    <div class="center">
                        <h1 style="line-height:30px;">Địa điểm <br>  chiến thắng <br> La Ngà </h1>
                        <span class="text-left">viết bởi</span>
                        <p class="name" >Trang Cận</p>
                    </div>
                    <a routerLink="/langa_mucluc"><button class="card-button">Xem ngay</button></a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div style="margin-top:30px" class="card-book text-center">
                <div class="image">
                    <img src="assets/images/DaiKiNiem/1.png" />
                </div>
                <div class="details">
                    <div class="center">
                        <h1>Di tích <br> Đài Kỉ niệm</h1>
                        <span class="text-left">viết bởi</span>
                        <p class="name" >Khánh Ngọc</p>
                    </div>
                    <a routerLink="/daikiniem_mucluc"><button class="card-button">Xem ngay</button></a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div style="margin-top:30px" class="card-book text-center">
                <div class="image">
                    <img src="assets/images/DaBaChong/1.jpg" />
                </div>
                <div class="details">
                    <div class="center">
                        <h1> Đá Chồng</h1>
                        <span class="text-left">viết bởi</span>
                        <p class="name" >Thu Trang</p>
                    </div>
                    <a routerLink="/dabachong_mucluc"><button class="card-button">Xem ngay</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="margin-top:30px" class="card-book text-center">
                <div class="image">
                    <img src="assets/images/TrinhHoaiDuc/0.jpg" />
                </div>
                <div class="details">
                    <div class="center">
                        <h1>Trịnh <br>  Hoài Đức</h1>
                        <span class="text-left">viết bởi</span>
                        <p class="name" >Thu Trang</p>
                    </div>
                    <a routerLink="/trinhhoaiduc_mucluc"><button class="card-button">Xem ngay</button></a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-11 row" style="margin:0 auto; margin-top: 5%;">
        <div class="col-md-3">
            <div style="margin-top:30px" class="card-book text-center">
                <div class="image">
                    <img src="assets/images/ChuaDaiGiac/1.jpg" />
                </div>
                <div class="details">
                    <div class="center">
                        <h1>Chùa <br>  Đại Giác</h1>
                        <span class="text-left">viết bởi</span>
                        <p class="name" >Trang Cận</p>
                    </div>
                    <a routerLink="/chuadaigiac_mucluc"><button class="card-button">Xem ngay</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="margin-top:30px" class="card-book text-center">
                <div class="image">
                    <img src="assets/images/NguyenHuuCanh/0.jpg" />
                </div>
                <div class="details">
                    <div class="center">
                        <h1>Nguyễn <br> Hữu Cảnh</h1>
                        <span class="text-left">viết bởi</span>
                        <p class="name" >Thùy Trang</p>
                    </div>
                    <a routerLink="/nguyenhuucanh_mucluc"><button class="card-button">Xem ngay</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="margin-top:30px" class="card-book text-center">
                <div class="image">
                    <img src="assets/images/DinhTanLan/1.jpg" />
                </div>
                <div class="details">
                    <div class="center">
                    <h1>Đình <br>  Tân Lân</h1>
                    <span class="text-left">viết bởi</span>
                    <p class="name" >Khánh Ngọc</p>
                </div>
                    <a routerLink="/dinhtanlan_mucluc"><button class="card-button">Xem ngay</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="margin-top:30px" class="card-book text-center">
                <div class="image">
                    <img src="assets/images/NguyenTriPhuong/0.jpg" />
                </div>
                <div class="details">
                    <div class="center">
                        <h1>Nguyễn <br> Tri Phương</h1>
                        <span class="text-left">viết bởi</span>
                        <p class="name" >THúy Hằng</p>
                    </div>
                    <a routerLink="/nguyentriphuong_mucluc"><button class="card-button">Xem ngay</button></a>
                </div>
            </div>
        </div>

    </div>
</div>
