<div class="video-container text-center">
  <div class="return text-center">
    <a class="return" routerLink="/daikiniem_mucluc"
      ><i class="fas fa-arrow-left"></i
    ></a>
  </div>

  <div class="video">
    <h5>Đài Kỉ niệm</h5>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/wTPdTuP_vkA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
