<div class="muc-luc">
  <div class="return text-center">
    <a class="" routerLink="/lichsu"><i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="muc-luc-container">
    <div class="item">
      <div
        class="card-content"
        (click)="onClickNavigate('/lichsuhanhchinh_video')"
      >
        <img src="assets/images/movie.jpg" alt="" />
        <button (click)="onClickNavigate('/lichsuhanhchinh_video')">
          Xem ngay
        </button>
      </div>
    </div>
    <div class="item">
      <div
        class="card-content"
        (click)="onClickNavigate('/lichsuhanhchinh_canva')"
      >
        <img src="assets/images/canva.jpg" alt="" />
        <button (click)="onClickNavigate('/lichsuhanhchinh_canva')">
          Xem ngay
        </button>
      </div>
    </div>
  </div>
</div>
