.muc-luc {
  width: 100%;
  min-height: 100svh;
  background: #ffcc29;
}

.muc-luc-container {
  width: 100%;

  background: #ffcc29;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item {
  flex: 0 0 22%;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
}

.item:hover {
  flex: 0 0 24%;
}

.item img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

button {
  position: absolute;
  bottom: 5%;
  width: 70%;
  padding: 10px 20px;
  border: 5px solid #ff8000;
  margin-top: 10px;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color: #ff8c00;
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  transition: background 0.75s ease;
  background: linear-gradient(to left, white 50%, #ff8000 50%) right;
  background-size: 200%;
}

button:hover,
.item:hover button {
  background-color: #ff8000;
  color: white;
  background-position: left;
}

@media screen and (max-width: 950px) {
  .muc-luc-container {
    justify-content: space-evenly;
  }
  .item {
    flex: 0 0 25%;
    border-radius: 15px;
  }
  button {
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 500px) {
  .muc-luc-container {
    flex-direction: column;
    justify-content: center;
    top: 30%;
    transform: translate(-50%, -30%);
  }
  .item {
    width: 50%;
    border-radius: 15px;
  }
  button {
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
  }
}
