/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lovers+Quarrel");

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bcb7b7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.return {
  position: absolute;
  margin: 0;
  font-size: 40px;
  top: 8%;
  width: 100px;
  left: 3%;
  z-index: 1000;
}
.return a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
.return a i {
  width: 50px;
}
.return a:hover {
  border: 5px solid white;
  border-radius: 20px;
}

@media screen and (max-width: 1000px) {
  .return {
    font-size: 20px;
    top: 12%;
  }
}

@media screen and (max-width: 500px) {
  .return {
    top: 15%;
  }
}

@media (orientation: landscape) {
  body {
    min-width: 100%;
    max-width: 100%;
  }
}
