<ng-container *ngIf="orientation">
  <div class="orientation-phone">
    <img class="flip-phone" src="/assets/game/flip-phone.png" alt="" />
  </div>
</ng-container>
<ng-container *ngIf="!orientation">
  <audio
    #audioPlayer
    src="/assets/game/dong-nai-que-toi.mp3"
    autoplay
    loop
  ></audio>
  <div class="question-list">
    <img class="background" src="/assets/game/question-background.jpg" alt="" />
    <img (click)="toggleAudio()" class="music" [src]="musicNoteImg" alt="" />

    <div class="return text-center">
      <a class="" routerLink="/gioithieuchung"
        ><i class="fas fa-arrow-left"></i
      ></a>
    </div>

    <p *ngIf="isDisplayPointPlus" class="point-plus">+100</p>
    <app-answer-point
      *ngIf="activePage != 22 && activePage % 2 != 1"
      class="point"
      [pointPlus]="point"
    ></app-answer-point>
    <div class="content">
      <div class="welcome-page" *ngIf="activePage == 0">
        <p class="title">
          <span style="color: rgb(146, 192, 241)">GAME</span><br /><span
            style="color: rgb(255, 168, 116)"
            >Khám phá Đồng Nai</span
          >
        </p>
        <p class="description">
          Tại vùng đất Đồng Nai giàu truyền thống văn hóa, một kho báu <br />bí
          ẩn đang chờ bạn khám phá.
        </p>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <div class="starting-page" *ngIf="activePage == 1">
        <p>
          Bạn hãy hoàn thành thử thách ở mỗi chặng để tìm ra kho báu quý giá<br />
          đang được cất giấu nhé!
        </p>
        <img src="/assets/game/map.png" alt="" class="left" />
        <img src="/assets/game/treasure.png" alt="" class="right" />
        <button class="next" (click)="nextPage()">Bắt đầu</button>
      </div>

      <!-- Câu hỏi 1 -->
      <div class="question-container" *ngIf="activePage == 2">
        <p class="challenge-name">
          THỬ THÁCH 1:<br />ĐỒNG NAI: VÙNG ĐẤT GIÀU SẢN VẬT
        </p>
        <p class="question">
          Một món ăn nổi tiếng của Đồng Nai được vinh danh tại lễ hội “Rạng danh
          văn hóa ẩm thực Việt Nam”
        </p>
        <div class="answer-zone">
          <img src="/assets/game/quest1.png" alt="" />
          <div class="list-answer-col">
            <button class="answer" (click)="checkAnswer(1, 1, $event)">
              Gỏi cá Tân Mai</button
            ><button class="answer" (click)="checkAnswer(1, 2, $event)">
              Xôi chiên phồng</button
            ><button class="answer" (click)="checkAnswer(1, 3, $event)">
              Gỏi bưởi
            </button>
          </div>
        </div>
      </div>

      <div class="clue" *ngIf="activePage == 3">
        <div class="clue-content">
          <img class="decorate" src="/assets/game/xu-ka.png" alt="" />

          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <p>
              Tại lễ hội “Rạng danh văn hóa ẩm thực Việt Nam”, tỉnh Đồng Nai có
              2 món ăn được vinh dự góp tên vào bản đồ ẩm thực Việt Nam. Đó là
              món GỎI BƯỞI và món GÀ HẤP BƯỞI
            </p>
          </div>
        </div>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <!-- Câu hỏi 2 -->
      <div class="question-container" *ngIf="activePage == 4">
        <p class="challenge-name">THỬ THÁCH 2:<br />CHIẾC CHÌA KHÓA VẠN NĂNG</p>
        <p class="question">
          Thương cảng nổi tiếng của Biên Hoà vào thế kỷ 18 là thương cảng nào?
        </p>
        <div class="answer-zone">
          <div class="list-answer-row">
            <button class="answer" (click)="checkAnswer(2, 1, $event)">
              Cù Lao cảng</button
            ><button class="answer" (click)="checkAnswer(2, 2, $event)">
              Nông Nại Đại phố</button
            ><button class="answer" (click)="checkAnswer(2, 3, $event)">
              Sông phố
            </button>
          </div>
        </div>
      </div>
      <div class="clue" *ngIf="activePage == 5">
        <div class="clue-content">
          <img class="decorate" src="/assets/game/no-bi-ta.png" alt="" />
          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <p>
              Cù lao Phố là một thương cảng danh tiếng khi xưa của đất Nam bộ
              với tên gọi Nông Nại Đại Phố, được mệnh danh là "Xứ đô hội". Nay,
              địa bàn này thuộc đơn vị hành chính xã Hiệp Hòa, TP.Biên Hòa.
              Người có công đầu trong việc xây dựng thương cảng cù lao Phố là
              nhóm người Hoa do Trần Thượng Xuyên dẫn đầu, được chúa Nguyễn cho
              vào khai phá đất Đồng Nai năm 1679.
            </p>
          </div>
        </div>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <!-- Câu hỏi 3 -->
      <div class="question-container" *ngIf="activePage == 6">
        <p class="challenge-name">THỬ THÁCH 3:<br />DÒNG SÔNG HUYỀN BÍ</p>
        <p class="question">Tên công trình thủy điện lớn nhất tỉnh Đồng Nai?</p>
        <div class="answer-zone">
          <img src="/assets/game/quest3.png" alt="" />
          <div class="list-answer-col">
            <button class="answer" (click)="checkAnswer(3, 1, $event)">
              Thủy điện Trị An</button
            ><button class="answer" (click)="checkAnswer(3, 2, $event)">
              Thủy điện Thác Bà</button
            ><button class="answer" (click)="checkAnswer(3, 3, $event)">
              Thủy điện Đa Nhim
            </button>
          </div>
        </div>
      </div>

      <div class="clue" *ngIf="activePage == 7">
        <div class="clue-content" style="margin-top: -8rem; display: block">
          <img class="decorate" src="/assets/game/do-re-mon.png" alt="" />
          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <p>
              Nhà máy thủy điện Trị An là biểu tượng sáng ngời của tinh thần
              đoàn kết quốc tế, tình hữu nghị giữa Việt Nam và Liên Xô (nay là
              Liên Bang Nga). Đây là công trình thủy điện được xây dựng nhờ sự
              hỗ trợ to lớn về tài chính và công nghệ từ Liên Xô. Thủy điện Trị
              An được khởi công vào ngày kỷ niệm độc lập dân tộc 30/4/1984, trên
              sông Đồng Nai chảy qua huyện Vĩnh Cửu, tỉnh Đồng Nai.
            </p>
          </div>
        </div>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <!-- Câu hỏi 4 -->
      <div class="question-container" *ngIf="activePage == 8">
        <p class="challenge-name">THỬ THÁCH 4:<br />CHIẾC HÒM BÍ ẨN</p>
        <p class="question">
          Công trình Nhà máy thủy điện Trị An được in trên tờ tiền mệnh giá bao
          nhiêu?
        </p>
        <div class="answer-zone">
          <img src="/assets/game/thuy-dien.jpg" alt="" />
          <div class="list-answer-col">
            <button class="answer" (click)="checkAnswer(4, 1, $event)">
              Tờ tiền 5000 đồng</button
            ><button class="answer" (click)="checkAnswer(4, 2, $event)">
              Tờ tiền 10 000 đồng</button
            ><button class="answer" (click)="checkAnswer(4, 3, $event)">
              Tờ tiền 20 000 đồng
            </button>
          </div>
        </div>
      </div>
      <div class="clue" *ngIf="activePage == 9">
        <div class="clue-content">
          <img class="decorate" src="/assets/game/do-re-mi.png" alt="" />
          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <div class="money">
              <img src="/assets/game/5000-dong.jpg" alt="" />
              <img src="/assets/game/tri-an-money.jpg" alt="" />
            </div>
            <p>
              Nhà máy thủy điện Trị An, được xây dựng trên sông Đồng Nai vinh dự
              được in trên tờ tiền 5000 đồng.
            </p>
          </div>
        </div>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <!-- Câu hỏi 5 -->
      <div class="question-container" *ngIf="activePage == 10">
        <p class="challenge-name">THỬ THÁCH 5:<br />BÍ MẬT NGÀN XƯA</p>
        <p class="question">
          Thương cảng Nông Nại Đại phố (Cù Lao phố nay thuộc xã Hiệp Hòa, thành
          phố Biên Hòa)<br />
          còn có tên gọi là gì?
        </p>
        <div class="answer-zone">
          <div class="list-answer-row-4">
            <button class="answer" (click)="checkAnswer(5, 1, $event)">
              Giản Phố</button
            ><button class="answer" (click)="checkAnswer(5, 2, $event)">
              Cù Châu</button
            ><button class="answer" (click)="checkAnswer(5, 3, $event)">
              Đông Phố</button
            ><button class="answer" (click)="checkAnswer(5, 4, $event)">
              Cả 3 đáp án trên đều đúng
            </button>
          </div>
        </div>
      </div>

      <div class="clue" *ngIf="activePage == 11">
        <div class="clue-content">
          <img class="decorate" src="/assets/game/xe-ko.png" alt="" />
          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <p>
              Cù lao Phố còn được gọi là Đông Phố, Giản Phố, Cù Châu, Nông Nại
              Đại Phố. Tuy nằm cách biển nhưng là nơi sông sâu, nước chảy có thể
              đi đến mọi miền.
              <span style="font-weight: 500"
                ><i
                  >Nhìn từ trên cao, cù lao Phố có hình quả chuông, được  hai
                  nhánh của sông Đồng Nai ôm trọn trong địa phận của TP.Biên
                  Hòa.</i
                ></span
              >
            </p>
          </div>
        </div>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <!-- Câu hỏi 6 -->
      <div class="question-container" *ngIf="activePage == 12">
        <p class="challenge-name">THỬ THÁCH 6:<br />KHU RỪNG MA THUẬT</p>
        <p class="question">
          Tại huyện Tân Phú tỉnh Đồng Nai có một khu rừng đã được Thủ tướng
          Chính phủ quyết định xếp hạng di tích quốc gia đặc biệt. Tên gọi của
          khu rừng đó là gì?
        </p>
        <div class="answer-zone">
          <div class="list-answer-row-4">
            <button class="answer" (click)="checkAnswer(6, 1, $event)">
              Rừng U Minh</button
            ><button class="answer" (click)="checkAnswer(6, 2, $event)">
              Rừng Cúc Phương</button
            ><button class="answer" (click)="checkAnswer(6, 3, $event)">
              Rừng Nam Cát Tiên
            </button>
          </div>
        </div>
      </div>

      <div class="clue" *ngIf="activePage == 13">
        <div class="clue-content">
          <img class="decorate" src="/assets/game/chai-en.png" alt="" />
          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <p>
              Trụ sở Vườn quốc gia Cát Tiên đặt tại huyện Tân Phú, Đồng Nai.
              Vườn Quốc gia Cát Tiên đã được công nhận là Khu Dự trữ sinh quyển
              thế giới vào năm 2001; Hệ đất ngập nước bàu Sấu được ghi tên vào
              danh sách Ramsar năm 2005. Ngày 27/9/2012, Vườn Quốc gia Cát Tiên
              được Thủ tướng Chính phủ quyết định xếp hạng di tích quốc gia đặc
              biệt.
            </p>
          </div>
        </div>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <!-- Câu hỏi 7 -->
      <div class="question-container" *ngIf="activePage == 14">
        <p class="challenge-name">THỬ THÁCH 7:<br />NGỌN NÚI BÍ ẨN</p>
        <p class="question">
          Tên một địa điểm du lịch ở Đồng Nai được xem là Vịnh Hạ Long thu nhỏ?
        </p>
        <div class="answer-zone">
          <div class="list-answer-row-4">
            <button class="answer" (click)="checkAnswer(7, 1, $event)">
              Khu du lịch Suối Tre.</button
            ><button class="answer" (click)="checkAnswer(7, 2, $event)">
              Khu du lịch Thác Giang Điền.</button
            ><button class="answer" (click)="checkAnswer(7, 3, $event)">
              Khu du lịch Bửu Long.
            </button>
          </div>
        </div>
      </div>

      <div class="clue" *ngIf="activePage == 15">
        <div class="clue-content" style="margin-top: -8rem; display: block">
          <img class="decorate" src="/assets/game/do-re-mon.png" alt="" />
          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <div class="attraction">
              <img src="/assets/game/buu-long.jpg" alt="" />
            </div>
            <p>
              Khu danh thắng Bửu Long được xem là một món quà quý giá của tỉnh
              Đồng Nai và chỉ cách Sài Gòn khoảng 30km về hướng Đông. Nơi đây
              mang vẻ đẹp của núi non, sông hồ, hang động,...được thiên nhiên
              bồi đắp qua năm tháng tạo nên khung cảnh hữu tình và mỹ lệ. Vì thế
              mà người ta gọi
              <i> khu du lịch Bửu Long</i> là Vịnh Hạ Long thu nhỏ.
            </p>
          </div>
        </div>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <!-- Câu hỏi 8 -->
      <div class="question-container" *ngIf="activePage == 16">
        <p class="challenge-name">THỬ THÁCH 8:<br />NGƯỜI BÍ ẨN</p>
        <p class="question">
          Ông là người khai khẩn, mở mang vùng đất Cù lao Phố, có công lớn trong
          công cuộc khai phá và xây dựng vùng đất Đồng Nai - Gia Định. Ông là
          ai?
        </p>
        <div class="answer-zone">
          <div class="list-answer-row-4">
            <button class="answer" (click)="checkAnswer(8, 1, $event)">
              Trịnh Hoài Đức</button
            ><button class="answer" (click)="checkAnswer(8, 2, $event)">
              Nguyễn Hữu Cảnh</button
            ><button class="answer" (click)="checkAnswer(8, 3, $event)">
              Trần Thượng Xuyên
            </button>
          </div>
        </div>
      </div>

      <div class="clue" *ngIf="activePage == 17">
        <div class="clue-content">
          <img class="decorate" src="/assets/game/no-bi-ta.png" alt="" />
          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <p>
              Trần Thượng Xuyên, người tỉnh Quảng Đông (Trung Quốc). Ông được
              coi là người đã có công tổ chức khai phá, mở mang vùng đất Đồng
              Nai - Gia Định. Ghi nhớ công đức của Trần Thượng Xuyên, chúa
              Nguyễn đã ban danh hiệu cao quý “Nguyễn vi vương, Trần vi tướng,
              đại đại công thần bất tuyệt”. Các vua Minh Mạng, Thiệu Trị đều
              phong ông làm “Thượng đẳng thần”. Đình Tân Lân là nơi thờ Trấn
              biên Đô đốc tướng quân Trần Thượng Xuyên.
            </p>
          </div>
        </div>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <!-- Câu hỏi 9 -->
      <div class="question-container" *ngIf="activePage == 18">
        <p class="challenge-name">THỬ THÁCH 9:<br />NHÂN VẬT KIỆT XUẤT</p>
        <p class="question">
          Người phụ nữ xứ Đồng Nai không ngại khó từ nan, thân gái dặm trường
          đến chốn kinh thành đánh trống kêu oan cho chồng. Bà được thái hậu Từ
          Dũ hết lời khen ngợi và tặng cho tấm biển son chạm bốn chữ thếp vàng
          "Liệt phụ khả gia". Bà là ai?
        </p>
        <div class="answer-zone">
          <div class="list-answer-row-4">
            <button class="answer" (click)="checkAnswer(9, 1, $event)">
              Nguyễn Thị Minh Khai</button
            ><button class="answer" (click)="checkAnswer(9, 2, $event)">
              Nguyễn Thị Tồn</button
            ><button class="answer" (click)="checkAnswer(9, 3, $event)">
              Triệu Thị Trinh
            </button>
          </div>
        </div>
      </div>

      <div class="clue" *ngIf="activePage == 19">
        <div class="clue-content">
          <img class="decorate" src="/assets/game/xu-ka.png" alt="" />
          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <p>
              Bà Nguyễn Thị Tồn quê phủ Phước Long, tỉnh Biên Hòa (nay là phường
              Bửu Hòa, thành phố Biên Hòa, tỉnh Đồng Nai). Bà là vợ của thủ khoa
              Bùi Hữu Nghĩa, một trong 4 “rồng vàng” xứ Đồng Nai. Để minh oan
              cho chồng, bà đã quá giang ghe bầu, lặn lội vượt biển ra kinh
              thành Huế để đánh trống kêu oan cho chồng. Tuy chồng được minh oan
              nhưng khi trở về quê hương, bà Tồn lâm bệnh nặng và qua đời.
            </p>
          </div>
        </div>

        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <!-- Câu hỏi 10 -->
      <div class="question-container" *ngIf="activePage == 20">
        <p class="challenge-name">THỬ THÁCH 10:<br />CHIẾN BINH CUỐI CÙNG</p>
        <p class="question">
          Tên làng nghề truyền thống nổi tiếng của Đồng Nai
        </p>
        <div class="answer-zone">
          <div class="list-answer-row-4">
            <button
              class="answer"
              (click)="checkAnswer(10, 1, $event)"
              style="flex: 1 1 45%"
            >
              Làng gốm Tân Vạn</button
            ><button
              class="answer"
              (click)="checkAnswer(10, 2, $event)"
              style="flex: 1 1 45%"
            >
              Chiếu cói Nga Sơn</button
            ><button
              class="answer"
              (click)="checkAnswer(10, 3, $event)"
              style="flex: 0 0 45%"
            >
              Lụa tơ tằm Hà Đông
            </button>
          </div>
        </div>
      </div>

      <div class="clue" *ngIf="activePage == 21">
        <div class="clue-content" style="display: block; margin-top: -6rem">
          <img class="decorate" src="/assets/game/do-re-mi.png" alt="" />
          <div class="clue-description">
            <p class="clue-title">Bạn có biết?</p>
            <p>
              Các khu vực sản xuất gốm Đồng Nai hiện nay tập trung chủ yếu ở
              phía Nam thành phố Biên Hòa, tại xã Hóa An, tân Hạnh và phường Bửu
              Hòa, Tân Vạn.<br />Lò gốm đầu tiên ở Tân Vạn xây dựng năm 1878,
              sau đó hình thành làng nghề chuyên làm hũ, lu, khạp cung cấp cho
              dân cư hạ lưu Đồng bằng sông Cửu Long và một số nơi làm nghề nước
              mắm, các sản phẩm gốm mĩ nghệ.<br />Biên Hòa là nơi khai sinh gốm
              mĩ nghệ hiện đại với cha đẻ là Giáo sư Lê Bá Đảng của Trường Mĩ
              nghệ thực hành Biên Hòa
            </p>
          </div>
        </div>
        <button class="next" (click)="nextPage()">Tiếp tục</button>
      </div>

      <app-summary-result
        *ngIf="activePage == 22"
        [point]="point"
        [correctAnswers]="countCorrectAnswer"
        [wrongAnswers]="countWrongAnswer"
      ></app-summary-result>
    </div>
  </div>
</ng-container>
