<div class="gioi-thieu w3-animate-opacity">
  <div class="gioi-thieu-container">
    <div class="item">
      <img
        src="assets/images/introduce.png"
        alt=""
        (click)="onClickNavigate('/gioithieuchung/gioithieu')"
      />
      <button (click)="onClickNavigate('/gioithieuchung/gioithieu')">
        Giới thiệu
      </button>
    </div>
    <!-- 134 -->
    <div class="item">
      <img
        src="assets/images/direction.png"
        alt=""
        (click)="onClickNavigate('/gioithieuchung/huongdan')"
      />
      <button (click)="onClickNavigate('/gioithieuchung/huongdan')">
        Hướng dẫn sử dụng
      </button>
    </div>
    <div class="item">
      <img
        src="assets/images/question.png"
        alt=""
        (click)="onClickNavigate('/gioithieuchung/game')"
      />
      <button (click)="onClickNavigate('/gioithieuchung/game')">Game</button>
    </div>
  </div>
</div>
