<div class="lich-su row w3-animate-opacity">
  <div class="col-lg-11 row">
    <div class="col-lg-4 col1">
      <a routerLink="/lichsuhanhchinh_mucluc">
        <img src="assets/images/hanh_chinh.jpg" alt="" />
        <a class="card1" routerLink="/gioithieuchung/gioithieu">
          <p>Giới thiệu</p>
          <div class="go-corner">
            <div class="go-arrow">→</div>
          </div>
        </a>
      </a>
    </div>
    <div class="col-lg-4">
      <a routerLink="/danhsachditich">
        <img src="assets/images/di_tich_lich_su.jpg" alt="" />
        <a class="card1" routerLink="/gioithieuchung/huongdan">
          <p>
            Hướng dẫn<br />
            sử dụng website
          </p>
          <div class="go-corner">
            <div class="go-arrow">→</div>
          </div>
        </a>
      </a>
    </div>
    <div class="col-lg-4 col2" style="height: 80vh">
      <a routerLink="/danhsachtruyentranh">
        <img src="assets/images/nguyen_huu_canh_1.jpg" alt="" />
        <a class="card1" routerLink="/danhsachtruyentranh">
          <p>
            Trả lời<br />
            câu hỏi
          </p>
          <div class="go-corner">
            <div class="go-arrow">→</div>
          </div>
        </a>
      </a>
    </div>
  </div>
</div>
