.lich-su {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto;
  transition-duration: 1s;
  position: absolute;
  background: #ffcc29;
  background-size: cover;
}
.col-lg-11 {
  margin: 0 auto;
  padding: 0;
}

.col-lg-4 {
  padding: 5px;
  padding-top: 2vw;
  margin: 0;
}
.lich-su img {
  width: 80%;
  height: 55vh;
  margin-top: 5%;
  opacity: 1;
  position: relative;
  border: 2px solid green;
  border-radius: 10px;
}
.col-lg-4:hover img {
  top: -20px;
  transition-duration: 0.5s;
  opacity: 1;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  left: 12%;
  display: block;
  position: absolute;
  width: 70%;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 15px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  /* box-shadow: 5px 5px 5px 5px black; */
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
.card1 p {
  font-weight: bold;
  font-size: 2vw;
  color: black;
  line-height: 35px;
}
.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.card1:hover:before {
  transform: scale(21);
}
.card1:hover p {
  transition: all 0.3s ease-out;
  color: #ffffff;
}
@media (min-width: 1100px) {
  .lich-su {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: auto;
    transition-duration: 1s;
    position: absolute;
    background: #ffcc29;
    height: calc(100svh - 76px);
  }
}
@media (orientation: portrait) {
  @media (max-width: 500px) {
    .lich-su {
      height: 220vh;
    }
    .lich-su img {
      margin-top: 30vw;
      width: 70%;
    }
    .col1 img {
      margin-top: 3vw;
    }
    .col4 img {
      margin-bottom: 60vw;
    }
    .card1 p {
      font-size: 5vw;
    }
    br {
      display: none;
    }
    .card1 {
      width: 68%;
      margin-top: 0;
      left: 13%;
      color: white;
      background: #fdc830; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .go-arrow {
      display: none;
    }
    .card1:before {
      bottom: 15vw;
    }
    .col4 .card1 {
      bottom: 31vw;
    }
    .card1 p {
      color: white;
    }
  }

  @media (min-width: 700px) and (max-width: 900px) {
    .lich-su {
      height: 220vh;
    }
    .lich-su img {
      margin-top: 15vw;
      width: 70%;
    }
    .col1 img {
      margin-top: 5vw;
    }
    .col4 img {
      margin-bottom: 60vw;
    }
    .card1 p {
      font-size: 5vw;
    }
    br {
      display: none;
    }
    .card1 {
      width: 68%;
      margin-top: 0;
      left: 14.5%;
      color: white;
      background: #fdc830; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .go-arrow {
      display: none;
    }
    .card1:before {
      bottom: 15vw;
    }
    .col4 .card1 {
      bottom: 31vw;
    }
    .card1 p {
      color: white;
    }
  }

  @media (min-width: 1000px) and (max-width: 1090px) {
    .lich-su {
      height: 90vh;
    }
    .lich-su img {
      margin-top: 15vw;
      width: 70%;
      height: 30vh;
    }
    .col4 img {
      margin-bottom: 60vw;
    }
    .card1 p {
      font-size: 3vw;
    }
    .card1 {
      width: 67%;
      margin-top: 0;
      left: 13%;
      color: white;
      background: #fdc830; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .go-arrow {
      display: none;
    }
    .card1:before {
      bottom: 15vw;
    }
    .col4 .card1 {
      bottom: 31vw;
    }
    .card1 p {
      color: white;
    }
  }
}

@media (orientation: landscape) {
  @media only screen and (min-device-width: 900px) and (max-device-width: 1024px) and (orientation: landscape) {
    .lich-su {
      height: 85vh;
    }
    .lich-su img {
      margin-top: 3vw;
      width: 70%;
    }
    .card1 p {
      font-size: 3vw;
    }
    .card1 {
      width: 68%;
      margin-top: 0;
      left: 13%;
      color: white;
      background: #fdc830; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .go-arrow {
      display: none;
    }
    .card1:before {
      bottom: 15vw;
    }
    .col4 .card1 {
      bottom: 31vw;
    }
    .card1 p {
      color: white;
    }
  }

  @media only screen and (min-width: 374px) and (max-width: 813px) {
    .lich-su {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      background-repeat: no-repeat;
      background-size: auto;
      transition-duration: 1s;
      position: absolute;
      background: #ffcc29;
      height: 310vh;
    }
    .lich-su img {
      margin-top: 15vw;
      width: 40%;
    }
    .col1 img {
      margin-top: 4vw;
    }
    .col4 img {
      margin-bottom: 70vw;
    }
    .card1 p {
      font-size: 3vw;
    }
    br {
      display: none;
    }
    .card1 {
      width: 40%;
      margin-top: 0;
      left: 28.5%;
      color: white;
      background: #fdc830; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #f37335,
        #fdc830
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .go-arrow {
      display: none;
    }
    .card1:before {
      bottom: 15vw;
    }
    .col4 .card1 {
      bottom: 34vw;
    }
    .card1 p {
      color: white;
    }
  }

  @media only screen and (min-width: 375px) and (max-width: 750px) {
    .lich-su {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      background-repeat: no-repeat;
      background-size: auto;
      transition-duration: 1s;
      position: absolute;
      background: #ffcc29;
      height: 270vh;
    }
  }
}
