<div class="resource">
  <p class="title">ĐỒNG NAI - MẢNH ĐẤT GIÀU TRUYỀN THỐNG</p>
  <div class="resource-container" (click)="onClickNavigate('/sachbando')">
    <div class="item">
      <img src="assets/images/resource/bando.jpg" alt="" />
      <p (click)="onClickNavigate('/sachbando')">Xem ngay</p>
    </div>

    <div class="item" (click)="onClickNavigate('/lehoi')">
      <img src="assets/images/resource/lehoi.jpg" alt="" />
      <p (click)="onClickNavigate('/lehoi')" class="">Xem ngay</p>
    </div>

    <div class="item" (click)="onClickNavigate('/amthuc')">
      <img src="assets/images/resource/amthuc.jpg" alt="" />
      <p (click)="onClickNavigate('/amthuc')" class="">Xem ngay</p>
    </div>
    <div class="item" (click)="onClickNavigate('/langnghe')">
      <img src="assets/images/resource/langnghe.jpg" alt="" />
      <p (click)="onClickNavigate('/langnghe')" class="">Xem ngay</p>
    </div>
    <div class="item" (click)="onClickNavigate('/dulich')">
      <img src="assets/images/resource/dulich1.jpg" alt="" />
      <p (click)="onClickNavigate('/dulich')" class="">Xem ngay</p>
    </div>

    <div class="item" (click)="onClickNavigate('/vanhoa')">
      <img src="assets/images/resource/vanhoa.jpg" alt="" />
      <p (click)="onClickNavigate('/vanhoa')" class="">Xem ngay</p>
    </div>
    <div class="item" (click)="onClickNavigate('/trochoi')">
      <img src="assets/images/resource/trochoi.jpg" alt="" />
      <p (click)="onClickNavigate('/trochoi')" class="">Xem ngay</p>
    </div>

    <div class="item" (click)="onClickNavigate('/hoathinh')">
      <img src="assets/images/resource/hoathinh.jpg" alt="" />
      <p (click)="onClickNavigate('/hoathinh')" class="">Xem ngay</p>
    </div>
    <div class="item" (click)="onClickNavigate('/sachdientu')">
      <img src="assets/images/resource/sachdientu.jpg" alt="" />
      <p (click)="onClickNavigate('/sachdientu')" class="">Xem ngay</p>
    </div>
    <div class="item" (click)="onClickNavigate('/em-yeu-dia-li')">
      <img src="assets/images/resource/em-yeu-dia-li.png" alt="" />
      <p (click)="onClickNavigate('/em-yeu-dia-li')" class="">Xem ngay</p>
    </div>
  </div>
</div>
